// Gauge.less
//
@import "../styles/variables.less";
@import "../styles/skin.less";

.ticksSubMinor .tick {
	background-color: #999;
	height: 6px;
	width: 1px;
}

.gauge {
	height: 300px;
	width: 300px;
	position: relative;
	margin: @moon-spotlight-outset;
	border-radius: 50%;
	display: inline-block;

	.handMajor,
	.handMinor {
		height: 300px;
		width: 300px;
	}
	// .handMinor .fill {
	// 	transition: 1s transform linear;
	// }

	.ticksMajor {
		.tick {
			background-color: white;
			height: 24px;
			width: 6px;
		}
	}

	.ticksMajorNumerals {
		.tick {
			color: white;
			font-size: 30px;
		}
	}

	.ticksMinor {
		.tick {
			background-color: #999;
			height: 9px;
			width: 3px;
		}
	}

	.ticksMinorNumerals {
		.tick {
			color: #777;
			font-size: 12px;
		}
	}

	&.radial {
		/* export */
	}

	// Skin colors
	.applySkins({
		background-color: @moon-progress-bar-bg-color;

		.fill {
			outline: 3px dashed yellow;
		}

		.load {
			background-color: @moon-progress-bar-loaded-bg-color;
		}

		&.highlighted {
			.fill {
				background-color: @moon-progress-bar-highlighted-fill-bg-color;
			}
		}
	});
}

.gauge:global(.leaf) {
	height: 192px;
	width: 312px;
	position: relative;
	margin: @moon-spotlight-outset;
	border-radius: 50%;
	display: inline-block;

	.handMajor,
	.handMinor {
		height: 192px;
		width: 312px;
		top: auto;
		bottom: 0;
	}
	// .handMinor .fill {
	// 	transition: 1s transform linear;
	// }

	.ticksMajor {
		.tick {
			// background-color: #0bf;
			height: 250px;
			width: 15px;
			border-right: 1px solid black;
			background-image: linear-gradient(to bottom, white, white 8%, #43e4ee 10%, #06ccf1 12%, #06cafc 20%, #00a7ff 35%, #0f84e1 60%, #0a3d68 85%, black);
		}
	}

	.perspective {
		// transform: skewX(-34deg) rotate(-30deg);
		transform: scale(1.3, 1) rotate(-18deg) skewY(20deg);
		position: absolute;
		top: 50%;
		left: 50%;
	}

	.ticksMajorNumerals {
		.tick {
			color: white;
			font-size: 30px;
			text-shadow: 0px 0px 23px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
		}
	}

	.ticksMinor {
		.tick {
			background-color: white;
			height: 9px;
			width: 17px;
			border-right: 1px solid black;

			&:nth-child(-n+2) {
				background-color: #e43;
			}
		}
	}

	.ticksMinorNumerals {
		.tick {
			color: white;
			font-size: 12px;
		}
	}

	.blocking {
		position: absolute;
		// top: 50%;
		// left: 50%;
		// width: 200px;
		// height: 200px;
		// box-shadow: 0 0 0 10px black;

		top: 0%;
		left: 50%;
		width: 15%;
		height: 100%;
		background-color: black;
		box-shadow: 0 0 60px 30px black;
	}

	&.radial {
		/* export */
	}

	// Skin colors
	.applySkins({
		background-color: transparent;

		.fill {
			outline: 3px dashed yellow;
		}

		.load {
			background-color: @moon-progress-bar-loaded-bg-color;
		}

		&.highlighted {
			.fill {
				background-color: @moon-progress-bar-highlighted-fill-bg-color;
			}
		}
	});
}
