// LabeledIconButton.module.less
//

@import "../styles/mixins.less";
@import '../styles/skin.less';

// This refers to the LabeledIcon styling, since they're the same.
@import '../LabeledIcon/LabeledIcon.module.less';

.labeledIconButton {
	&.icon,
	&.label,
	&.selected,
	&.small {
		/* Public Class Names */
	}

	.label {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
	}

	.applySkins({
		max-width: @agate-labelediconbutton-max-width;

		&.smallest {
			max-width: calc(@agate-labelediconbutton-max-width + @agate-button-smallest-height);
		}

		&.small {
			max-width: calc(@agate-labelediconbutton-max-width + @agate-button-small-height);
		}

		&.large {
			max-width: calc(@agate-labelediconbutton-max-width + @agate-button-height);
		}

		&.huge {
			max-width: calc(@agate-labelediconbutton-max-width + @agate-button-huge-height);
		}

		.label {
			margin-top: @agate-labelediconbutton-label-margin;
			color: @agate-labelediconbutton-label-color;
			font-size: @agate-labelediconbutton-label-font-size;
			font-weight: @agate-labelediconbutton-label-font-weight;
		}

		.focus({
			background: transparent;

			.label {
				color: @agate-labelediconbutton-label-focus-color;
			}
		});
	});
}
