// LabeledIconButton.less
//

// This refers to the LabeledIcon styling, since they're the same.
@import '../LabeledIcon/LabeledIcon.less';

.labeledIconButton {
  &.icon,
  &.label,
  &.selected,
  &.small {
      /* Public Class Names */
  }
  .applySkins({
      &:focus {
        background: transparent;

        .label {
            color: @agate-text-color;
        }

        .button, .client {
          color: @agate-button-focus-color;
        }

        .bg {
          background-color: @agate-button-focus-bg-color;
          background-image: @agate-button-focus-bg-image;
        }
      }
  });
}
