// Input.module.less
//
@import "../styles/skin.less";

.decorator {
	.applySkins({
		display: inline-flex;
		position: relative;
		margin: @agate-input-margin;
		box-shadow: 0 0 0 @agate-input-decorator-border-width @agate-input-decorator-border-color;
		box-sizing: border-box;
		vertical-align: middle;

		.input {
			padding: @agate-input-padding;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			flex-grow: 1;
			text-indent: 0.2em;
			font-size: @agate-input-font-size;
			font-weight: @agate-input-font-weight;
			opacity: @agate-input-opacity;
			border: none;
			border-bottom: @agate-input-border-width solid @agate-input-border-color;
			background: transparent;
			color: @agate-text-color;
			text-align: @agate-input-text-align;

			&::selection {
				color: @agate-spotlight-color;
				background-color: @agate-spotlight-bg-color;
			}

			&::placeholder {
				color: @agate-input-placeholder-color;
			}

			&[type=number] {
				-moz-appearance: textfield;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}

				&:hover {
					-moz-appearance: none;
				}
			}

			&[placeholder] {
				text-overflow: ellipsis;
			}

			:global(.enact-locale-right-to-left) & {
				text-align: right;
			}
		}

		.input,
		.icon {
			line-height: @agate-input-height;
			height: @agate-input-height;
			vertical-align: middle;
			margin: 0;
		}

		.icon {
			flex: 0 0;
			width: auto;
			margin: 0;

		  	&.iconAfter,
			&.iconBefore {
				margin-left: @agate-input-icon-before-margin;
				display: @agate-input-icon-display;
				align-self: @agate-input-icon-align;
				opacity: @agate-input-opacity;
				border-bottom: @agate-input-border-width solid @agate-input-border-color;
			}

			&.iconAfter {
			  	padding: @agate-input-icon-after-padding;
			}

			&.iconBefore {
			  	padding: @agate-input-icon-before-padding;
			}
		}

		// Spotlight Colors

		// an Input that isn't spottable is behaviorly disabled but not visually
		&:not(:global(.spottable)) .input {
			pointer-events: none;
		}

		&.focused,
		&:focus-within {
			background-color: @agate-input-focused-background-color;
			background-image: @agate-input-focused-background-image;
			box-shadow: 0 0 0 @agate-input-decorator-focus-border-width @agate-input-decorator-focused-border-color;

			.input {
				caret-color: @agate-input-caret-color;
				color: @agate-input-focused-text-color;
			  	border-color: @agate-input-active-border-color;
				border-width: 0 0 @agate-input-border-width;
				opacity: @agate-input-focused-opacity;

				&::placeholder {
					opacity: @agate-input-opacity;
				}
			}

			.icon {
				color: @agate-input-focused-text-color;

			  	&.iconAfter {
					opacity: @agate-input-focused-opacity;
					border-color: @agate-input-active-border-color;
				}

			  	&.iconBefore {
				  	opacity: @agate-input-focused-opacity;
				  	border-color: @agate-input-active-border-color;
				}
			}
		}
	});
}
