// Input.less
//
@import "../styles/skin.less";

.decorator {
	.applySkins({
		display: inline-flex;
		position: relative;
		margin: 0 (@agate-spotlight-outset / 2);
		border: @agate-input-border-width solid transparent;
		box-sizing: border-box;
		vertical-align: middle;

		.input {
			padding: @agate-input-padding;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			flex-grow: 1;
			text-indent: 0.2em;
			font-size: @agate-input-font-size;
			font-weight: @agate-input-font-weight;

			border: unset;
	    border-bottom: 0.08333rem solid gray;
			// color: inherit;
			background: transparent;
			color: @agate-text-color;

			&::selection {
				color: @agate-spotlight-color;
				background-color: @agate-spotlight-bg-color;
			}

			// .input-placeholder({
			// 	color: @agate-input-placeholder-color;
			// });

			// .focus({
			// 	color: @agate-text-color;
			// 	background-color: inherit;
			// });
			&[type=number] {
				-moz-appearance: textfield;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}

				&:hover {
					-moz-appearance: none;
				}
			}

			&[placeholder] {
				text-overflow: ellipsis;
			}
			//
			// .input-placeholder({
			// 	.vendor-opacity(1);
			// });
			//
			// .focus ({
			// 	cursor: text;
			// });
			//
			// .disabled({
			// 	cursor: default;
			// });

			:global(.enact-locale-right-to-left) & {
				text-align: right;
			}
		}

		.input,
		.icon {
			line-height: @agate-input-height;
			height: @agate-input-height;
			vertical-align: middle;
			margin: 0;
		}

		// &.small {
		// 	padding: 0 (@agate-input-small-height / 2);
		//
		// 	.icon {
		// 		line-height: @agate-input-small-height;
		// 		height: @agate-input-small-height;
		// 	}
		//
		// 	.input {
		// 		font-size: @agate-item-font-size;
		// 		height: @agate-item-small-height;
		// 	}
		// }

		.icon {
			flex: 0 0;
			// .padding-start-end(@agate-input-icon-spacing, 0);
		}

		// RIGBY NOTE: multiline is a NOT YET IMPLEMENTED feature that combines <input> and <textarea>
		// into one control, to simplify input handling.
		&.multiline {
			display: block;
			padding: 12px 18px;
		}

		// an Input that isn't spottable is behaviorly disabled but not visually
		&:not(:global(.spottable)) .input {
			pointer-events: none;
		}

		.decoratorIcon,
		&:global(.spottable):focus .decoratorIcon {
			width: auto;
			margin: 0;
		}

		&.invalid input {
			// color: @agate-red;
		}

		&:global(.spottable):focus {
			color: @agate-text-color;
			border-color: @agate-spotlight-border-color;
			// background-color: @agate-input-decorator-bg-color;
		}

		&.focused {
			border-color: @agate-background-focus;
		}

		.decoratorIcon,
		&:global(.spottable):focus .decoratorIcon {
			color: @agate-text-color;
		}
	});
}
	// .invalidTooltip {
	// 	top: 50%;
	// 	left: auto;
	// 	right: 0;
	// 	pointer-events: none;
	// 	transform: translate(100%, -100%) translateX(@agate-input-tooltip-offset);
	//
	// 	:global(.enact-locale-right-to-left) & {
	// 		left: 0;
	// 		right: auto;
	// 		transform: translate(-100%, -100%) translateX(-@agate-input-tooltip-offset);
	// 	}
	// }

//
// .muted({
// 	.decorator {
// 		.applySkins({
// 			&:global(.spottable):focus {
// 				border-color: transparent;
// 			}
//
// 			&.focused {
// 				border-color: transparent;
// 			}
//
// 			.focus({
				// background-color: @agate-input-decorator-bg-color;
// 				border-color: transparent;
// 			});
// 		});
// 	}
// });
