// Input.module.less
//
@import "../styles/skin.less";
@import "~@enact/ui/styles/mixins.less";
@import "../styles/variables.less";

.decorator {
	.applySkins({
		display: inline-flex;
		position: relative;
		margin: @agate-input-margin;
		box-shadow: 0 0 0 @agate-input-decorator-border-width @agate-input-decorator-border-color;
		box-sizing: border-box;
		vertical-align: middle;
		max-width: @agate-input-max-width;
		min-width: @agate-input-min-width;
		border-bottom: @agate-input-decorator-border-bottom-width solid @agate-input-border-color;

		.input {
			padding: .extract(@agate-input-padding, top)[] .extract(@agate-input-padding, right)[] .extract(@agate-input-padding, bottom)[] .extract(@agate-input-padding, left)[];
			.padding-start-end(.extract(@agate-input-padding, left)[], .extract(@agate-input-padding, right)[]);
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			flex-grow: 1;
			text-indent: 0.2em;
			font-size: @agate-input-font-size;
			font-weight: @agate-input-font-weight;
			opacity: @agate-input-opacity;
			border: none;
			background: transparent;
			color: @agate-text-color;
			text-align: @agate-input-text-align;

			&::selection {
				color: @agate-spotlight-color;
				background-color: @agate-spotlight-bg-color;
			}

			&::placeholder {
				color: @agate-input-placeholder-color;
			}

			&[type=number] {
				-moz-appearance: textfield;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}

				&:hover {
					-moz-appearance: none;
				}
			}

			&[placeholder] {
				text-overflow: ellipsis;
			}

			:global(.enact-locale-right-to-left) & {
				text-align: right;
			}
		}

		&.small {
			height: @agate-input-small-height;

			.input {
				padding: .extract(@agate-input-small-padding, top)[] .extract(@agate-input-small-padding, right)[] .extract(@agate-input-small-padding, bottom)[] .extract(@agate-input-small-padding, left)[];
				.padding-start-end(.extract(@agate-input-small-padding, left)[], .extract(@agate-input-small-padding, right)[]);
				font-size: @agate-input-small-font-size;
			}

			.icon {
				&.iconAfter,
				&.iconBefore {
					display: flex;
					align-self: @agate-input-small-icon-align-self;
				}

				&.iconAfter {
					padding: .extract(@agate-input-small-icon-after-padding, top)[] .extract(@agate-input-small-icon-after-padding, right)[] .extract(@agate-input-small-icon-after-padding, bottom)[] .extract(@agate-input-small-icon-after-padding, left)[];
					.padding-start-end(.extract(@agate-input-small-icon-after-padding, left)[], .extract(@agate-input-small-icon-after-padding, right)[]);
				}

				&.iconBefore {
					padding: .extract(@agate-input-small-icon-before-padding, top)[] .extract(@agate-input-small-icon-before-padding, right)[] .extract(@agate-input-small-icon-before-padding, bottom)[] .extract(@agate-input-small-icon-before-padding, left)[];
					.padding-start-end(.extract(@agate-input-small-icon-before-padding, left)[],  .extract(@agate-input-small-icon-before-padding, right)[]);
				}
			}
		}

		.input,
		.icon {
			line-height: @agate-input-height;
			height: @agate-input-height;
			vertical-align: middle;
			margin: 0;
		}

		.icon {
			flex: 0 0;
			width: auto;
			margin: 0;

			&.iconAfter,
			&.iconBefore {
				align-self: @agate-input-icon-align;
				opacity: @agate-input-icon-opacity;
			}

			&.iconAfter {
				margin-right: @agate-input-icon-after-margin;
				padding: .extract(@agate-input-icon-after-padding, top)[] .extract(@agate-input-icon-after-padding, right)[] .extract(@agate-input-icon-after-padding, bottom)[] .extract(@agate-input-icon-after-padding, left)[];
				.padding-start-end(.extract(@agate-input-icon-after-padding, left)[], .extract(@agate-input-icon-after-padding, right)[]);
			}

			&.iconBefore {
				margin-left: @agate-input-icon-before-margin;
				padding: .extract(@agate-input-icon-before-padding, top)[] .extract(@agate-input-icon-before-padding, right)[] .extract(@agate-input-icon-before-padding, bottom)[] .extract(@agate-input-icon-before-padding, left)[];
				.padding-start-end(.extract(@agate-input-icon-before-padding, left)[], .extract(@agate-input-icon-before-padding, right)[]);
			}
		}

		&.large {
			.icon {
				font-size: @agate-input-large-icon-font-size;
				height: @agate-input-large-icon-height;
				line-height: @agate-input-large-icon-height;

				&.iconAfter {
					.padding-start-end(.extract(@agate-input-icon-after-padding, left)[], .extract(@agate-input-icon-after-padding, right)[]);
				}

				&.iconBefore {
					.padding-start-end(.extract(@agate-input-icon-before-padding, left)[], .extract(@agate-input-icon-before-padding, right)[]);
				}
			}
		}

		&.invalid input {
			color: @agate-red;
		}

		&.hasIconAfter {
			.input {
				padding-right: @agate-input-hasiconafter-padding-right;
			}
		}

		&.hasIconBefore {
			.input {
				padding-left: @agate-input-hasiconbefore-padding-left;
			}
		}

		&:not(.emptyValue) {
			input {
				opacity: @agate-input-has-value-opacity
			}

			.icon {
				opacity: @agate-input-icon-has-value-opacity;
			}
		}

		// Spotlight Colors

		// an Input that isn't spottable is behaviorly disabled but not visually
		&:not(:global(.spottable)) .input {
			pointer-events: none;
		}

		&.focused,
		&:focus-within {
			background-color: @agate-input-focused-background-color;
			background-image: @agate-input-focused-background-image;
			box-shadow: 0 0 0 @agate-input-decorator-focus-border-width @agate-input-decorator-focused-border-color;
			border-color: @agate-input-active-border-color;
			border-width: 0 0 @agate-input-decorator-border-bottom-width;
			opacity: 1;

			&.emptyValue {
				.icon {
					opacity: @agate-input-icon-empty-value-focused-opacity;
				}
			}

			&:not(.emptyValue) {
				.icon {
					opacity: @agate-input-focused-opacity;
				}
			}

			.input {
				caret-color: @agate-input-caret-color;
				color: @agate-input-focused-text-color;
				border-color: @agate-input-active-border-color;
				opacity: @agate-input-focused-opacity;
			}

			.icon {
				color: @agate-input-focused-text-color;

				&.iconAfter,
				&.iconBefore {
					border-color: @agate-input-active-border-color;
				}
			}

			&.invalid input {
				color: @agate-red;
			}
		}

		.disabled({
			opacity: @agate-input-decorator-disabled-opacity;
		});
	});
}
