// DrumPicker.module.less
//
@import "../../styles/mixins.less";
@import "../../styles/variables.less";
@import "../../styles/skin.less";

.drumPicker {
	overflow: hidden;
	position: relative;

	.root {
		display: flex;
		flex-direction: column;
		text-align: center;
		z-index: 1;
	}

	&.horizontal {
		//flex-direction: row;
		//display: inline-flex;

		.root {
			display: inline-flex;
			flex-direction: row;
		}
	}

	.applySkins({
		align-items: center;
		justify-content: center;
		min-width: 72px;
		font-weight: @agate-picker-font-weight;
		font-size: @agate-picker-font-size;
		border-radius: @agate-picker-border-radius;
		transform: @agate-picker-transform;
		height: @agate-drumPicker-height;
		padding: @agate-drumPicker-padding;

		.root {
			padding: @agate-drumPicker-root-padding;

			.focus({
				background-color: transparent;
				background-image: @agate-drumPicker-focus-bg-image;
			});
		}

		.sizingPlaceholder {
			height: 0;
			visibility: hidden;
			padding-left: .extract(@agate-picker-padding, left)[];
			padding-right: .extract(@agate-picker-padding, right)[];
			line-height: 0;
			font-size: @agate-picker-active-font-size;
			font-weight: @agate-picker-active-font-weight;
		}

		.item {
			width: auto;
			height: @agate-drumPicker-item-height;
			line-height: @agate-drumPicker-item-height;

			&.selectedItem {
				color: @agate-picker-active-color;
				font-size: @agate-picker-active-font-size;
				font-weight: @agate-picker-active-font-weight;
			}

			.focus({
				color: @agate-picker-item-focus-color;
			});

		}

		.indicator {
			background-color: @agate-picker-active-bg-color;
			background-image: @agate-picker-active-bg-image;
			height: @agate-drumPicker-item-height;
			left: 0;
			margin: @agate-drumPicker-margin;
			position: absolute;
			top: @agate-drumPicker-item-height;
			right: 0;
			z-index: -1;
		}

		.itemDecrement,
		.itemIncrement {
			color: @agate-picker-item-color;
			background-color: @agate-picker-item-bg-color;
			background-image: @agate-picker-item-decrement-bg-image;
			left: 0;
			margin: @agate-drumPicker-margin;
			position: absolute;
			right: 0;
			z-index: -1;
		}

		.itemDecrement {
			top: 0;
		}

		.itemIncrement {
			top: @agate-drumPicker-itemIncrement-top;
		}

		&.horizontal {
			height: @agate-drumPicker-item-height;
			width: calc(3*@agate-picker-horizontal-item-width);
			padding: @agate-drumPicker-horizontal-padding;

			.root {
				padding: @agate-drumPicker-horizontal-root-padding;
			}

			.item,
			.itemDecrement,
			.itemIncrement {
				width: @agate-picker-horizontal-item-width;
				top: 0;
				bottom: 0;
				margin: @agate-drumPicker-horizontal-margin;

			}

			.itemDecrement {
				left: 0;
			}

			.itemIncrement {
				left: calc(2* @agate-picker-horizontal-item-width);
			}

			.indicator {
				top: 0;
				left: @agate-picker-horizontal-item-width;
				bottom: 0;
			}
		}
	});

}
