// DateTimePicker.module.less
//
@import "../styles/skin.less";

.dateTimePicker {
	position: relative;

	.pickerBackground {
		position: absolute;
		width: 95%;
		z-index: -1;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

.applySkins({
	.dateTimePicker {
		font-size: @agate-picker-font-size;
		width: @agate-datetimepicker-width;

		.pickerBackground {
			height: @agate-button-height;
			background-image: @agate-datetimepicker-active-container-bg-image;
			background-color: @agate-datetimepicker-active-container-bg-color;
		}
	}
});
