// DateTimePicker.module.less
//
@import "../styles/skin.less";

.dateTimePicker {
	position: relative;

	.applySkins({
		font-size: @agate-picker-font-size;
		width: @agate-datetimepicker-width;
	});
}
