language: node_js
node_js:
    - "10"
sudo: false
cache: npm
install:
    - npm config set prefer-offline true
    - npm install -g enactjs/cli#develop
    - npm install -g codecov
    - git clone --branch=feature/PLAT-102572 --depth 1 https://github.com/enactjs/enact ../enact
    - pushd ../enact
    - npm install
    - npm run bootstrap -- --ignore enact-sampler
    - npm run link-all
    - popd
    - rm -fr node_modules/@enact
    - npm install
    - enact link
script:
    - npm run lint -- -- --max-warnings 0 .
    - npm run test
