/* Styles for agate/TabbedPanels */
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.tabbed-panels {
	/* I got cat class and I got cat style */

	.panels {
		/* overrides for the base Panels */
		// border: 1px solid #d3d3d3;
	}

	&.reverse {
		flex-direction: row-reverse;

		&.column {
			flex-direction: column-reverse;
		}
	}
}

.tabBar {
	.applySkins({
		margin: @agate-panels-tab-bar-margin;
		background-color: @agate-panels-tab-bg-color;
		background-image: @agate-panels-tab-bg-image;

		.tabGroup {
			margin: @agate-panels-tab-group-margin;
			border-radius: @agate-panels-tab-group-radius;
			overflow: hidden;
			transform: @agate-panels-tab-group-transform;

			.tab {
				margin: @agate-panels-tab-v-margin 0;

				// These two will need to change based on the skin
				// padding-top: @agate-panels-tab-v-padding;
				padding-bottom: @agate-panels-tab-v-padding;

				color: @agate-panels-tab-color;
				// background-color: @agate-panels-tab-bg-color;
				// background-image: @agate-panels-tab-bg-image;

				.label {
					display: flex;
					flex-direction: column;
					align-items: center;
					transform: @agate-panels-tab-label-transform;
				}

				&[data-selected=true] {
					color: @agate-panels-tab-selected-color;
					background-color: @agate-panels-tab-selected-bg-color;
					background-image: @agate-panels-tab-selected-bg-image;
				}

				border-left: @agate-panels-tab-separator-border-width solid @agate-panels-tab-separator-border-color;
				&:first-child {
					border-left-width: 0;
				}

				.focus({
					color: @agate-panels-tab-focus-color;
					background-color: @agate-panels-tab-focus-bg-color;
					background-image: @agate-panels-tab-focus-bg-image;

					&[data-selected=true] {
						color: @agate-panels-tab-selected-color;
						background-color: @agate-panels-tab-selected-bg-color;
					}
				});
			}
		}

		&.positionAfter {
			.tabGroup {
				margin: @agate-panels-tab-group-position-after-margin;
			}

			.tabEnds {
				display: flex;
				align-items: flex-end;
			}
		}

		&.horizontal {
			.tabGroup {
				margin: 0;
				border-radius: 0;
				transform: @agate-panels-tab-group-horizontal-transform;
				overflow: visible;

				.tab {
					width: @agate-panels-tab-horizontal-width;
					right: @agate-panels-tab-horizontal-before-right;
					border-radius: @agate-panels-tab-group-radius;
					transform: @agate-panels-tab-group-transform;

					.label {
						transform: @agate-panels-tab-label-transform;
					}
				}
			}

			&.positionAfter {
				.tabEnds {
					display: flex;
					justify-content: flex-end;
				}

				.tab {
					right: 0;
					padding-right: @agate-panels-tab-horizontal-after-padding-right;
				}
			}
		}
	});
}
