// ImageItem.module.less
//

@import '../styles/skin.less';
@import '../styles/mixins.less';

.imageItem {
	position: relative;

  	&.horizontal {
		.image {
	  		margin: auto 0; // leaving this to align image with caption when orientation="horizontal"
		}
  	}

	&.captionOverlay {
		.caption {
			overflow: hidden;
			position: absolute;
		}
	}

	.applySkins({
		border: @agate-imageitem-border-width solid @agate-imageitem-border-color;

	  	.caption {
			height: @agate-imageitem-caption-height;
			line-height: @agate-imageitem-caption-height;
			text-align: center;
	  	}

		&.captionOverlay {
			.caption {
				width: @agate-imageitem-caption-overlay-width;
				height: @agate-imageitem-caption-overlay-height;
				color: @agate-imageitem-caption-overlay-text-color;
				opacity: @agate-imageitem-caption-overlay-opacity;
				padding: @agate-imageitem-caption-overlay-padding;
				font-size: @agate-imageitem-caption-overlay-font-size;
				line-height: @agate-imageitem-caption-overlay-line-height;
				text-align: @agate-imageitem-caption-overlay-text-align;
				bottom: @agate-imageitem-caption-position-bottom;
				min-height: @agate-imageitem-caption-overlay-min-height;
				max-height: @agate-imageitem-caption-overlay-max-height;
			}
		}

		.focus({
			&::before {
			  	content: "";
				border-color: @agate-imageitem-focus-border-color;
				background-color: @agate-imageitem-focus-bg-color;
			}
		});
  	});
}
