.app {
	/* styles can be put here */
}

.button1 {
	&[data-spotlight-focused] *{
		color: red;
	}
}

.button2 {
	/* available for customization */
}

.focusClass * {
	font-size: 49px;
}

.bodyText {
	margin-bottom: 0;
	align-self: center;
}

.row {
	margin-bottom: 9px;
}
