// Spinner.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

@searching-nodes: 12;
@loading-nodes: 4;

.fan-loop (@elements) {
	.fan-loop(@elements; @elements);
}
// Loop each searching spinner's node to rotate and delay animation
.fan-loop (@elements; @index) when (@index > 0) {
	// Spread @searching-nodes over 360 degrees
	@degree-offset: ((-360deg / @elements) * @index);
	// Total animation duration would add up to be 1.2sec. Offset each animation by 0.1sec
	@delay-offset: -((@index * 0.1) + 0.1s);

	.fan@{index} {
		transform: translate(-50%, -100%) rotate(@degree-offset) translateY(-100%);
		animation-delay: @delay-offset;
	}

	.fan-loop(@elements; @index - 1);
}

@keyframes searching-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

.spinner {
	.applySkins({
		&.searching {
			.bg {
				display: inline-block;
				width: @agate-spinner-size;
				height: @agate-spinner-size;
				position: relative;
			}

			.fan {
				position: absolute;
				display: block;
				will-change: opacity;
				transform-origin: center bottom;
				animation: searching-spinner 1.2s linear infinite;
				top: 50%;
				left: 50%;
				width: @agate-spinner-searching-width;
				height: @agate-spinner-searching-height;
				border-radius: @agate-spinner-searching-border-radius;
			}

			.fan-loop(@searching-nodes);

			&.small {
				.bg {
					width: @agate-spinner-small-size;
					height: @agate-spinner-small-size;

					.fan {
						width: @agate-spinner-small-searching-width;
						height: @agate-spinner-small-searching-height;
					}
				}
			}
		}

		&.searching {
			&.dark {
				.fan {
					background-color: @agate-spinner-dark-color;
				}
			}

			&.light {
				.fan {
					background-color: @agate-spinner-light-color;
				}
			}
		}
	});
}
