// Spinner.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

@searching-nodes: 12;
@loading-nodes: 4;

// Loop each searching spinner's node to rotate and delay animation
.fan-loop (@index) when (@index > 0) {
	// Spread @searching-nodes over 360 degrees
	@degree-offset: (360deg - (@index * 30));
	// Total animation duration would add up to be 1.2sec. Offset each animation by 0.1sec
	@delay-offset: (-0.1s - (@index * 0.1));

	.fan@{index} {
		transform: rotate(@degree-offset);
		animation-delay: @delay-offset;
	}

	.fan-loop(@index - 1);
}

@keyframes searching-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

.spinner {
	.applySkins({
		&.searching {
			.bg {
				display: inline-block;
				width: @agate-spinner-size;
				height: @agate-spinner-size;
				position: relative;

				.fan1,
				.fan2,
				.fan3,
				.fan4,
				.fan5,
				.fan6,
				.fan7,
				.fan8,
				.fan9,
				.fan10,
				.fan11,
				.fan12 {
					transform-origin: @agate-spinner-transform-origin @agate-spinner-transform-origin;
					will-change: opacity;
					animation: searching-spinner 1.2s linear infinite;

					&:after {
						content: " ";
						display: block;
						position: absolute;
						top: 0;
						left: @agate-spinner-searching-left;
						width: @agate-spinner-searching-width;
						height: @agate-spinner-searching-height;
						border-radius: @agate-spinner-searching-border-radius;
					}
				}

				.fan-loop(@searching-nodes);
			}
		}

		&.small {
			&.searching {
				.bg {
					width: @agate-spinner-small-size;
					height: @agate-spinner-small-size;

					.fan1,
					.fan2,
					.fan3,
					.fan4,
					.fan5,
					.fan6,
					.fan7,
					.fan8,
					.fan9,
					.fan10,
					.fan11,
					.fan12 {
						transform-origin: @agate-spinner-small-transform-origin @agate-spinner-small-transform-origin;

						&:after {
							left: @agate-spinner-searching-small-left;
							width: @agate-spinner-searching-small-width;
							height: @agate-spinner-searching-small-height;
						}
					}
				}
			}
		}

		&.dark {
			&.searching {
				.bg {
					.fan1,
					.fan2,
					.fan3,
					.fan4,
					.fan5,
					.fan6,
					.fan7,
					.fan8,
					.fan9,
					.fan10,
					.fan11,
					.fan12 {
						&:after {
							background-color: @agate-spinner-dark-color;
						}
					}
				}
			}
		}

		&.light {
			&.searching {
				.bg {
					.fan1,
					.fan2,
					.fan3,
					.fan4,
					.fan5,
					.fan6,
					.fan7,
					.fan8,
					.fan9,
					.fan10,
					.fan11,
					.fan12 {
						&:after {
							background-color: @agate-spinner-light-color;
						}
					}
				}
			}
		}
	});
}

.spinnerContainer {
	// Skin colors
	.applySkins({
		.blockClickOn {
			// Visible scrim
			.scrim {
				background-color: @agate-spinner-scrim-color;
			}
		}
	});
}
