// ProgressBar.module.less
//

@import "../styles/mixins.less";
@import "../styles/skin.less";

.progressBar {
	.applySkins({
		position: relative;
		height: @agate-progressbar-height;
		width: 100%;
		background-color: @agate-progressbar-track-bg-color;
		background-image: @agate-progressbar-track-bg-image;
		border-radius: @agate-progressbar-border-radius;
		transform: @agate-progressbar-track-transform;

		&.showAnchor {
			&::after {
				content: "";
				position: absolute;
				transform: translate(-50%, -50%);
			}
		}

		&.large {
			/* Available for export */
		}

		&.small {
			height: @agate-progressbar-small-height;
		}

		&.horizontal {
			&.showAnchor {
				&::after {
					width: @agate-progressbar-anchor-width;
					height: @agate-progressbar-anchor-height;
					top: 50%;
					left: ~"calc(var(--ui-progressbar-proportion-anchor) * 100%)";
				}
			}
		}

		&.vertical {
			height: 100%;
			width: @agate-progressbar-vertical-width;
			transform: @agate-progressbar-vertical-track-transform;

			&.small {
				width: @agate-progressbar-vertical-small-width;
			}

			.fill {
				background-image: @agate-progressbar-vertical-fill-bg-image;
			}

			&.showAnchor {
				&::after {
					width: @agate-progressbar-anchor-height;
					height: @agate-progressbar-anchor-width;
					bottom: ~"calc(var(--ui-progressbar-proportion-anchor) * 100%)";
					left: 50%;
					transform: translate(-50%, 50%);
				}
			}
		}

		&.radial {
			background-color: transparent;
			height: @agate-progressbar-radial-size;
			width: @agate-progressbar-radial-size;

			.bar {
				border-color: @agate-progressbar-radial-bar-bg-color;
				border-width: @agate-progressbar-radial-thickness;
				overflow: visible;
			}

			.fill {
				.position(-@agate-progressbar-radial-thickness);
				border-color: @agate-progressbar-radial-fill-bg-color;

				&::before,
				&::after {
					border-color: inherit;
					border-width: @agate-progressbar-radial-thickness;
				}
			}

			.bar,
			.fill {
				background-color: transparent;
			}
		}

		&.highlighted {
			.fill {
				background-color: @agate-progressbar-highlighted-fill-bg-color;
			}

			&.radial {
				.fill {
					background-color: transparent;
					border-color: @agate-progressbar-highlighted-fill-bg-color;
				}
			}
		}

		&.showAnchor {
			&::after {
				background-color: @agate-progressbar-track-bg-color;
			}
		}

		.fill {
			background-color: @agate-progressbar-fill-bg-color;
			background-image: @agate-progressbar-fill-bg-image;
			border-radius: @agate-progressbar-border-radius;
		}
	});
}
