// MainPanel.module.less
//

.mainPanel {
    .firstItem, .secondItem {
        color: white;
    }

    .firstItem {
        background-color: #d95000;
    }

    .secondItem {
        background-color: #aba534;
    }
}
