// Popup.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

// Would be nice to be able to style this with skins
@agate-drawer-overhang: 0 12px 0 0;

.drawer {
	.applySkins({
		box-shadow: @agate-drawer-shadow;
		background-color: @agate-drawer-bg-color;
		background-image: @agate-drawer-bg-image;
		padding: @agate-drawer-padding;
		border: @agate-drawer-border;
		border-width: @agate-drawer-border-width;
		border-color: @agate-drawer-border-color;
		border-radius: @agate-drawer-border-radius;
		margin: @agate-drawer-overhang;

		// .closeButton {
		// 	position: absolute;
		// 	top: 50%;
		// 	right: 0;
		// 	background-color: @agate-drawer-bg-color;
		// 	border-radius: 999px;
		// }
	});
}

.drawerTransitionContainer {
	position: absolute;
	left: 0;
	height: 100%;
	width: 20.5%;
	pointer-events: none;

	.inner {
		height: 100%;

		> * {
			pointer-events: auto;
		}
	}
}
