// Checkbox.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.checkboxItem {
	align-items: center;

	.applySkins({
		padding-left: @agate-checkboxitem-padding-left;
		padding-right: @agate-checkboxitem-padding-right;
		border-color: @agate-checkboxitem-border-color;
		border-bottom-color: @agate-checkboxitem-border-bottom-color;
		border-width: @agate-checkboxitem-border-width;
		font-size: @agate-checkboxitem-font-size;

		.slotAfter {
			-webkit-margin-start: @agate-checkboxitem-icon-margin;
			-webkit-margin-end: 0;
		}

		.slotBefore {
			-webkit-margin-start: 0;
			-webkit-margin-end: @agate-checkboxitem-icon-margin;
		}

		.focus({
			background-color: @agate-checkboxitem-focus-bg-color;
			color: @agate-checkboxitem-focus-text-color;
			border-color: @agate-checkboxitem-focus-border-color;
			border-bottom-color: @agate-checkboxitem-border-bottom-color;
		});

		.active({
			background-color: @agate-checkboxitem-selected-bg-color;
			border-color: @agate-checkboxitem-focus-border-color;
			border-bottom-color: @agate-checkboxitem-focus-border-bottom-color;
			color: @agate-checkboxitem-focus-text-color;

			.slotBefore {
				&::before {
					content: @agate-checkboxitem-selected-before-content;
					color: @agate-checkboxitem-selected-before-color;
					line-height: @agate-checkboxitem-selected-before-line-height;
					padding-right: @agate-checkboxitem-selected-before-padding-right;
				}
			}
		});
	});
}
