// DateTime.module.less
//

.dateTime {
	display: inline-block;

	.pickers {
		vertical-align: middle;

		> *:first-child {
			margin-inline-start: 0
		}

		> *:last-child {
			margin-inline-end: 0
		}
	}
}
