// DateTime.module.less
//
@import "../../styles/skin.less";

.dateTime {
	display: inline-block;

	.pickers {
		vertical-align: middle;

		> *:first-child {
			margin-inline-start: 0
		}

		> *:last-child {
			margin-inline-end: 0
		}
	}
}

.datePicker, .timePicker {
	.day,
	.month,
	.year,
	.hourPicker,
	.minutePicker,
	.meridiemPicker {
		position: relative;

		&:nth-child(n+2)::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		.applySkins({
			&:nth-child(n+2)::before {
				width: @agate-datetimepicker-divider-width;
				height: @agate-datetimepicker-divider-height;
				opacity: @agate-datetimepicker-divider-opacity;
				background-color: @agate-datetimepicker-divider-bg-color;
				right: calc(100% - @agate-datetimepicker-divider-width);
			}
		})
	}
}
