// Dropdown.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.dropdown {
	display: inline-block;

	.selected {
		/* Available for customization */
	}

	.applySkins({
		margin: @agate-dropdown-margin;

		&.smallestWidth {
			.button,
			.item {
				width: @agate-dropdown-smallest-width;
				max-width: @agate-dropdown-smallest-width;
			}
		}

		&.smallWidth {
			.button,
			.item {
				width: @agate-dropdown-small-width;
				max-width: @agate-dropdown-small-width;
			}
		}

		&.mediumWidth {
			.button,
			.item {
				width: @agate-dropdown-medium-width;
				max-width: @agate-dropdown-medium-width;
			}
		}

		&.largeWidth {
			.button,
			.item {
				width: @agate-dropdown-large-width;
				max-width: @agate-dropdown-large-width;
			}
		}

		&.x-largeWidth {
			.button,
			.item {
				width: @agate-dropdown-x-large-width;
				max-width: @agate-dropdown-x-large-width;
			}
		}

		&.hugeWidth {
			.button,
			.item {
				width: @agate-dropdown-huge-width;
				max-width: @agate-dropdown-huge-width;
			}
		}

		.item {
			border: @agate-dropdown-border-width @agate-dropdown-border-style @agate-dropdown-border-color;
			display: flex;

				&::before {
					content: none; // Overwrite the selected styles for Item
				}
		}

		&.dropdownButton {
			.button {
				margin: 0;
				.padding-start-end(@agate-dropdown-button-padding-left, @agate-dropdown-button-padding-right);

				.bg {
					border-color: @agate-dropdown-button-border-color;
				}

				&,
				.client {
					flex-direction: row-reverse;
				}

				.icon {
					font-size: @agate-dropdown-button-icon-font-size;
					margin : @agate-dropdown-button-icon-margin;
					width: @agate-dropdown-button-icon-size;
					height: @agate-dropdown-button-icon-size;
				}
			}

			&.open {
				.button {
					.bg {
						border-radius: @agate-dropdown-button-open-border-radius;
						border-bottom-color: @agate-dropdown-button-open-border-color;
					}

					.focus({
						.bg {
							border-bottom-color: @agate-dropdown-button-open-border-color;
						}
					});
				}
			}

			&.upDropdownButton {
				&.open {
					.button {
						.bg {
							border-radius: @agate-dropdown-up-button-open-border-radius;
							border-bottom-color: @agate-dropdown-up-button-open-border-bottom-color;
							border-top-color: @agate-dropdown-button-open-border-color;
						}

						.focus({
							.bg {
								border-bottom-color: @agate-dropdown-up-button-open-border-bottom-color;
							}
						})
					}
				}
			}
		}
	});
}

.dropdownList {
	.applySkins({
		border-bottom: @agate-dropdown-border-width @agate-dropdown-border-style @agate-dropdown-border-color;
		border-radius: @agate-dropdown-list-border-radius;
		background-color: @agate-dropdown-list-bg-color;
		max-height: @agate-dropdown-list-height;
		.padding-start-end(@agate-dropdown-list-padding);
		overflow: hidden;

		.item {
			border-color: @agate-item-border-color;
			border-width: @agate-dropdown-item-border-width;

			.focus({
				border-color: @agate-dropdown-item-focus-border-color;
			});

			&.selected {
				color: @agate-item-color;
			}
		}

		.dropDownListItem {
			font-size: @agate-dropdown-item-font-size;
			font-weight: @agate-dropdown-item-font-weight;
			height: @agate-dropdown-item-height;
			line-height: @agate-dropdown-item-line-height;

			&.radioItem {
				border-color: @agate-dropdown-radioitem-border-color;
				border-width: @agate-dropdown-item-border-width;
				.padding-start-end(@agate-dropdown-radioitem-padding-left, @agate-dropdown-radioitem-padding-right);

				.icon {
					.margin-start-end(@agate-dropdown-radioitem-icon-margin);
				}

				&.selected {
					background-color: @agate-dropdown-radioitem-selected-bg-color;

					.focus({
						.icon {
							color: @agate-dropdown-radioitem-selected-focus-color;
						}
					})
				}

				.focus({
					background-image: @agate-dropdown-radioitem-focus-bg-image;
					color: @agate-dropdown-radioitem-focus-color;

					.icon {
						border-color: @agate-dropdown-radioitem-focus-color;
					}
				});
			}
		}

		&.smallest {
			width: @agate-dropdown-list-smallest-width;
		}

		&.small {
			width: @agate-dropdown-list-small-width;
		}

		&.medium {
			width: @agate-dropdown-list-medium-width;
		}

		&.large {
			width: @agate-dropdown-list-large-width;
		}

		&.x-large {
			width: @agate-dropdown-list-x-large-width
		}

		&.huge {
			width: @agate-dropdown-list-huge-width;
		}

		&.above {
			border-radius: @agate-dropdown-up-button-list-border-radius;
		}

		&.dropdownListWithCustomizedScroller {
			// FIXME:
			[role="button"] + div::before {
				background-color: #666666;
			}
		}
	});
}

.applySkins({
	.contextualPopup{
		.container {
			background-color: @agate-dropdown-list-bg-color;
			border-radius: @agate-dropdown-list-border-radius;
			padding: 0;
		}
	}
});
