// Dropdown.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.dropdown {
	.applySkins({
		.item {
			border-color: @agate-dropdown-border-color;
			border-style: @agate-dropdown-border-style;
			border-width: @agate-dropdown-border-width;
		}
		.transitionContainer {
			position: absolute;
			display: inline-block;
			z-index: 1;
			pointer-events: none;
			width: 100%;
			visibility: hidden;

			&.openTransitionContainer {
				pointer-events: inherit;
				visibility: visible;
			}

			&.upTransitionContainer {
				transform: translateY(calc(-100% - @agate-item-height));
			}
		}
		.dropdownList {
			background-color: @agate-dropdown-list-bg-color;
			overflow: hidden;
			border-bottom-color: @agate-dropdown-border-color;
			border-bottom-style: @agate-dropdown-border-style;
			border-bottom-width: @agate-dropdown-border-width;
		}
		.dropdownListWithScroller {
			height: @agate-dropdown-list-height;
			.scroller {
				height: 100%;
			}
		}
		.selected {
			color: @agate-dropdown-selected-color;
		}

		.dropdownButton {
			width: @agate-dropdown-button-width;

			.button {
				margin: 0;
				width: @agate-dropdown-button-width;
				font-size: @agate-dropdown-button-font-size;

				.bg {
					//background-color: #eeeeee;
					//border-color: transparent;
					background-image: none;
					//border-radius: 35px 35px 0 0;
					transition: border-radius 0.2s;
					transition-delay: 0.5s;
				}

				&,
				.client {
					color: black;
				}

				&.listOpen {
					.bg {
						border-color: transparent;
						border-radius: 35px 35px 0 0;
						border-bottom-color: rgba(0, 0, 0, 0.25);
						transition: none;
					}
				}

				&.listClosed {
					.bg {
						border-radius: 35px;
					}
				}

				.icon {
					position: absolute;
					right: 0;
					margin: 0;
					font-size: 27px;
					color: @agate-accent;
					width: 24px;
					height: 24px;
					line-height: 24px;

				}
			}

			.transitionContainer {
				border-radius: 0 0 30px 30px;
				left: 0;
				top: @agate-button-height;
				width: inherit;
			}

			.dropdownList {
				border-bottom: none;
				border-radius: 0 0 30px 30px;
				background-color: #eeeeee;

				.dropDownListItem {
					color: @agate-dropdown-item-color;
					font-weight: @agate-dropdown-item-font-weight;

					&.radioItem {
						.icon {
							border-color: @agate-dropdown-item-color;
							background-color: transparent;
						}
						.focus({
							color: @agate-dropdown-item-color;
							border-color: transparent;

							.icon {
								color: @agate-dropdown-item-color;
								border-color: @agate-dropdown-item-color;
							}
						});
						&.selected {
							.icon {
								color: @agate-dropdown-item-color;
								border-color: @agate-dropdown-item-color;
							}
						}
					}

				}
			}

			.dropdownListWithScroller {
				.scroller {
					// FIXME:
					[role="button"] {
						.focus({
							& > div {
								background-image: none;
							}
						});
					}

					[role="button"] > div {
						border-color: transparent;
						color: black;
					}

					[role="button"] + div::before {
						background-color: black;
					}
				}
			}
		}
	});
}
