// ThumbnailItem.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.thumbnailItem {
	.thumbnail {
		height: auto;
		width: auto;
	}

	.content {
		overflow: hidden;
	}

	.subContent {
		overflow: hidden;
	}

	.applySkins({
		align-items: center;
	  	line-height: @agate-thumbnailitem-line-height;
	  	height: @agate-thumbnailitem-height;
		border: @agate-thumbnailitem-border;
		border-bottom: @agate-thumbnailitem-border-width solid @agate-thumbnailitem-border-color;

		.thumbnail {
			vertical-align: middle;
		}

		.content {
			padding: 0 @agate-component-spacing;
			font-size: @agate-thumbnailitem-content-font-size
		}

		.subContent {
			padding: 0 @agate-component-spacing;
			font-size: @agate-thumbnailitem-subcontent-font-size;
		}

	  	.focus({
			border: @agate-thumbnailitem-border-focus;
			border-bottom: @agate-thumbnailitem-border-width solid @agate-thumbnailitem-border-color;
			background-color: @agate-thumbnailitem-focus-bg-color;

			.content {
				color: @agate-thumbnailitem-focus-text-color;
			}

			.subContent {
				color: @agate-thumbnailitem-focus-text-color;
			}
		});
	});
}
