// ThumbnailItem.module.less
//
@import "../styles/skin.less";

.thumbnailItem {
	.thumbnail {
		height: auto;
		width: auto;
	}

	.content {
		overflow: hidden;
		font-size: 28px;
	}

	.subContent {
		overflow: hidden;
		font-size: 24px;
	}

	.applySkins({
		align-items: center;

		.thumbnail {
			vertical-align: middle;
		}

		.content {
			padding: 0 @agate-component-spacing;
		}

		.subContent {
			padding: 0 @agate-component-spacing;
		}
	});
}
