// ThumbnailItem.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.thumbnailItem {
  	align-items: center;

	.thumbnail {
		height: auto;
		width: auto;
	  	vertical-align: middle;
	}

	&.roundThumbnail {
	  	.thumbnail {
		  	border-radius: 50%;
		}
	}

	.content {
	  	overflow: hidden;
	}

  	.slotBefore {
	  	display: flex;
	}

	.applySkins({
	  	line-height: @agate-thumbnailitem-line-height;
	  	height: @agate-thumbnailitem-height;

		&.item {
			.label {
				padding: 0 @agate-component-spacing;
				font-size: @agate-thumbnailitem-subcontent-font-size;
				color: @agate-thumbnailitem-subcontent-text-color;
			}
		}

		.content {
			padding: 0 @agate-component-spacing;
			font-size: @agate-thumbnailitem-content-font-size
		}

		&.roundThumbnail {
			.thumbnail {
				border: @agate-roundthumbnailitem-border-width solid @agate-roundthumbnailitem-border-color;
			}
		}

	  	.focus({
			.content {
				color: @agate-thumbnailitem-focus-text-color;
			}

			&.item {
				.label {
					color: @agate-thumbnailitem-subcontent-focus-text-color;
				}
			}
		});

		&.selected {
			&.item {
				.label {
					color: @agate-thumbnailitem-subcontent-selected-text-color;
				}
			}
		}
	});
}
