// VideoPlayer.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.videoPlayer {
	// Set by counting the IconButtons inside the side components.
	--liftDistance: 0px;

	overflow: hidden;

	.video {
		height: 100%;
		width: 100%;
	}

	.preloadVideo {
		display: none;
	}

	.overlay {
		position: absolute;
		.position(0);

		&::after {
			content: "";
			position: absolute;
			.position(auto, 0, 0, 0);
			height: 80%;
			transform-origin: bottom;
			// Fancier gradient for future reference. Keeping linear-gradient as specified from Enyo.
			// background-image: radial-gradient(rgba(0, 0, 0, 0) 50%, #000000 100%);
			// background-size: 170% 200%;
			// background-position: bottom center;
		}
	}

	.fullscreen {
		.applySkins({
			.miniFeedback {
				//.agate-font-number();
				position: absolute;
				z-index: 50;  // Value assigned as part of the VideoPlayer API so layers may be inserted in-between
				top: @agate-video-feedback-mini-position-top;
				left: @agate-video-feedback-mini-position-left;
				font-weight: @agate-video-feedback-mini-font-weight;
				font-style: @agate-video-feedback-mini-font-style;
				font-size: @agate-video-feedback-mini-font-size;
				padding: 0 @agate-video-feedback-mini-padding-side;
				line-height: @agate-video-feedback-mini-line-height;
				bottom: auto;
				pointer-events: none;
			}

			.bottom {
				bottom: @agate-video-player-padding-bottom;
				left: @agate-video-player-padding-side;
				right: @agate-video-player-padding-side;
			}

			.infoFrame {
				display: flex;
				margin: 0; // @agate-video-player-info-margin;
			}
		});


		.bottom {
			position: absolute;
			z-index: 100;  // Value assigned as part of the VideoPlayer API so layers may be inserted in-between

			&.lift {
				transform: translateY(~"calc(var(--liftDistance) * -1)");
				transition: transform 0.3s linear;
			}

			&.hidden {
				pointer-events: none;

				.sliderContainer {
					position: absolute;
					width: 100%;
				}
			}


			.sliderContainer {
				display: flex;
				align-items: center;

				> *:first-child {
					text-align: right;
				}

				:global(.enact-locale-right-to-left) & {
					direction: ltr;
				}
			}
		}
	}

	.controlsHandleAbove {
		pointer-events: none;
		position: absolute;
		.position(0, 0, auto, 0);
	}

	// Skin colors
	.applySkins({
		.fullscreen {
			//.miniFeedback {
			//	background-color: @agate-video-feedback-mini-bg-color;
			//	color: @agate-video-feedback-mini-text-color;
			//}

			.bottom {
				background-color: transparent; // @agate-accent;

				.infoFrame {
					text-shadow: none;
				}
			}
		}

		.overlay {
			background: transparent;
			&.scrim::after {
				background: transparent; // @agate-accent;
			}
		}
	});
}
