// Picker.module.less
//
@import "../../styles/mixins.less";
@import "../../styles/variables.less";
@import "../../styles/skin.less";

.picker {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;

	&.horizontal {
		flex-direction: row;
		display: inline-flex;
	}

	.focusBackground {
		display: none;
		position: absolute;
		width: calc(100% - 90px);
		z-index: 1;
	}

	.applySkins({
		align-items: center;
		justify-content: center;
		min-width: 72px;
		font-weight: @agate-picker-font-weight;
		font-size: @agate-picker-font-size;
		border-radius: @agate-picker-border-radius;
		transform: @agate-picker-transform;
		margin: @agate-picker-margin;
		padding: @agate-picker-padding;

		.focusBackground {
			height: calc(100% - 2 * @agate-picker-padding);
			background-color: @agate-picker-focus-bg-color;
			background-image: @agate-picker-focus-bg-image;
		}

		&:focus-within,
		&:hover {
			.focusBackground {
				display: block;
			}

			.itemDecrement,
			.itemIncrement,
			.secondaryItemIncrement,
			.secondaryItemDecrement {
				color: @agate-picker-focusBackground-item-color;
			}
		}

		.sizingPlaceholder {
			height: 0;
			visibility: hidden;
			padding-left: .extract(@agate-picker-padding, left)[];
			padding-right: .extract(@agate-picker-padding, right)[];
			line-height: 0;
		}

		.label {
			transform: @agate-picker-label-transform;
		}

		.item,
		.itemDecrement,
		.itemIncrement,
		.secondaryItemIncrement,
		.secondaryItemDecrement {
			margin: 0;
			width: 100%;
			text-align: center;

			.sizingPlaceholder {
				font-size: @agate-picker-active-font-size;
				font-weight: @agate-picker-active-font-weight;
			}

			&[disabled] {
				.vendor-opacity(@agate-disabled-opacity);
			}

			.focus({
				color: @agate-picker-item-focus-color;
				background-color: transparent;
				background-image: @agate-picker-item-focus-bg-image;
			});
		}

		.itemDecrement,
		.itemIncrement,
		.secondaryItemIncrement,
		.secondaryItemDecrement {
			background-color: @agate-picker-item-bg-color;
			color: @agate-picker-item-color;
			height: @agate-picker-item-height;
			line-height: @agate-picker-item-height;
			z-index: 2;
		}

		.active {
			color: @agate-picker-active-color;
			font-size: @agate-picker-active-font-size;
			font-weight: @agate-picker-active-font-weight;
			height: @agate-picker-active-height;
			line-height: @agate-picker-active-height;

			.item {
				z-index: 2;
			}

			&::before {
				content: "";
				background-color: @agate-picker-active-bg-color;
				background-image: @agate-picker-active-bg-image;
				position: absolute;
				height: @agate-picker-active-height;
				width: calc(100% - 2* @agate-picker-padding);
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.itemDecrement,
		.secondaryItemDecrement {
			background-image: @agate-picker-item-decrement-bg-image;
		}

		.itemIncrement,
		.secondaryItemIncrement {
			background-image: @agate-picker-item-increment-bg-image;
		}

		&.horizontal {
			padding: @agate-picker-horizontal-padding;

			.focusBackground {
				background-image: @agate-picker-horizontal-focus-bg-image;
				height: calc(100% - 60px);
				width: calc(100% - 2 * @agate-picker-padding);
			}

			.item,
			.itemDecrement,
			.itemIncrement,
			.secondaryItemIncrement,
			.secondaryItemDecrement {
				height: @agate-picker-horizontal-item-height;
				line-height: @agate-picker-horizontal-item-height;
			}

			.itemDecrement,
			.itemIncrement,
			.secondaryItemIncrement,
			.secondaryItemDecrement {
				width: @agate-picker-horizontal-item-width;
			}

			.active {
				width: @agate-picker-horizontal-active-width;

				&::before {
					width: @agate-picker-horizontal-active-width;
					height: @agate-picker-horizontal-item-height;
				}
			}
		}
	});

	.viewManager {
		overflow: hidden;
		height: 100%;

		.item {
			position: relative;
		}

		> .item:nth-child(2) {
			// the second element in the ViewManager should be offset by the container height
			// so the transition can position two relative views next to each other safely.
			top: -100%;
		}
	}

}
