@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.mediaSlider {
	cursor: pointer;

	.knob {
		visibility: hidden;
	}

	.focus({
		.knob {
			visibility: visible;
		}
	});

	.applySkins({
		&.slider {
			padding: @agate-mediaslider-padding;

			.bar {
				background-color: @agate-mediaslider-bar-color;
			}

			.fill {
				background-color: @agate-mediaslider-fill-bg-color;
				background-image: @agate-mediaslider-fill-bg-image;
			}

			&.paused {
				.fill {
					background-image: @agate-mediaslider-paused-bg-image;
				}
			}
		}

		.focus({
			&.slider {
				.bar {
					background-color: @agate-mediaslider-focused-bar-color;
				}

				.fill {
					background-color: @agate-mediaslider-fill-bg-color;
					background-image: @agate-mediaslider-focused-fill-bg-image;
				}
			}
		});

		.spottable({
			&.tiny {
				&.pressed,
				&:focus.activateOnFocus,
				&:focus.active {
					.knob::before {
						height: @agate-slider-active-tiny-knob-height;
						width: @agate-slider-active-tiny-knob-width;
					}
				}
			}

		});

		&.tiny {
			&.slider {
				height: @agate-mediaslider-tiny-height;
				padding: @agate-mediaslider-tiny-padding;

				.bar,
				.fill,
				.progressBar {
					height: @agate-mediaslider-tiny-bar-height;
				}

				&.horizontal {
					margin: @agate-slider-horizontal-tiny-margin;

					.bar {
						left: ((@agate-slider-horizontal-tiny-anchorpoint-width / 2) * -1);
						width: ~"calc(100% + " @agate-slider-horizontal-tiny-anchorpoint-width ~")";
					}
				}

				.knob::before {
					height: @agate-slider-tiny-knob-height;
					width: @agate-slider-tiny-knob-width;
				}
			}
		}
	});
}
