@import "../styles/skin.less";

.mediaPlayer {
	.times {
		display: flex;
		justify-content: space-between;
		position: relative;
		bottom: 15px;
	}

	.applySkins({
		height: 132px;

		.times {
			margin: @agate-mediaplayer-times-margin;
			padding: @agate-mediaplayer-times-padding;
			line-height: @agate-mediaplayer-times-line-height;
			font-size: @agate-mediaplayer-times-font-size;

			:global(.enact-locale-right-to-left) & {
				direction: ltr;
			}
		}
	})
}
