@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.controlsFrame {
	position: relative;
	display: block;
	.mediaControls {
		text-align: center;
		direction: ltr;
		white-space: nowrap;
		> *:first-child {
			margin-inline-start: 0;
		}
	}
}
.applySkins({
	.button {
		height: @agate-mediacontrols-button-height;
		min-width: @agate-mediacontrols-button-min-width;
		.bg {
			border: @agate-mediacontrols-button-bg-border;
			height: @agate-mediacontrols-button-bg-height;
			width:  @agate-mediacontrols-button-bg-width;
		}
		&,
		.client {
			width: @agate-mediacontrols-button-client-width;
		}
		.icon {
			padding: @agate-mediacontrols-button-icon-padding;
		}
		&.playPauseButton {
			height: @agate-mediacontrols-playpause-button-height;
			padding: @agate-mediacontrols-playpause-button-padding;
			.bg {
				height: @agate-mediacontrols-playpause-button-bg-height;
				width: @agate-mediacontrols-playpause-button-bg-width;
				border-radius: @agate-mediacontrols-playpause-button-bg-border-radius;
			}
			&,
			.client {
				width: @agate-mediacontrols-playpause-button-client-width;
			}
		}
	}
});
.icon {
	.applySkins({
		font-size: @agate-mediacontrols-icon-font-size;
		margin: @agate-mediacontrols-icon-margin;
		padding: @agate-mediacontrols-icon-padding;
	})
}
