@import "../styles/skin.less";

.mediaPlayer {
	.applySkins({
		height: @agate-mediaplayer-height;
		min-width: @agate-mediaplayer-min-width;

		&.full {
			/* Available for export */
		}

		&.tiny {
			height: @agate-mediaplayer-tiny-height;
		}
	})
}
