@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.mediaSlider {
	cursor: pointer;

	.knob {
		visibility: hidden;
	}

	.focus({
		.knob {
			visibility: visible;
		}
	});

	.applySkins({
		&.slider {
			padding: @agate-mediaslider-padding;

			.bar {
				background-color: @agate-mediaslider-bar-color;
			}

			.fill {
				background-image: @agate-mediaslider-fill-bg-image;
			}

			&.paused {
				.fill {
					background-image: @agate-mediaslider-paused-bg-image;
				}
			}
		}

		.focus({
			&.slider {
				.fill {
					background-image: @agate-mediaslider-focused-fill-bg-image;
				}
			}
		})
	});
}
