@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.mediaSlider {
	cursor: pointer;

	.knob {
		visibility: hidden;
	}

	.focus({
		.knob {
			visibility: visible;
		}
	});

	.applySkins({
		&.slider {
			.bar {
				background-color: @agate-mediaslider-bar-color;
			}

			.fill {
				background-image: @agate-mediaslider-fill-bg-image;
			}
		}

		.focus({
			&.slider {
				.bar {
					background-color: @agate-mediaslider-focused-bar-color;
				}

				.fill {
					background-image: @agate-mediaslider-focused-fill-bg-image;
				}
			}
		})
	});
}
