@import "../styles/skin.less";

.mediaPlayer {
	.applySkins({
		background-color: @agate-mediaplayer-bg-color;
		height: @agate-mediaplayer-height;
		min-width: @agate-mediaplayer-min-width;

		&.full {
			/* Available for export */
		}

		&.light {
			height: @agate-mediaplayer-light-height;
		}
	})
}
