// Times.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.times {
	display: flex;
	justify-content: space-between;

	.applySkins({
		margin: @agate-mediaplayer-times-margin;
		padding: @agate-mediaplayer-times-padding;

		:global(.enact-locale-right-to-left) & {
			direction: ltr;
		}
	})
}
