// Times.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.times {
	.applySkins({
		display: flex;
		justify-content: space-between;
		margin: 0 9px;

		:global(.enact-locale-right-to-left) & {
			direction: ltr;
		}
	})
}
