// Checkbox.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.toggleIcon {
	.applySkins({
		@size: @agate-checkbox-size;

		width: @size;
		height: @size;
		border-radius: @agate-checkbox-border-radius;

		.icon {
			font-size: @agate-checkbox-icon-font-size;
			visibility: hidden;
			margin: 0;
			line-height: @size;
			width: @size;
			height: @size;
		}

		&.selected {
			.icon {
				visibility: visible;
			}
		}

		color: @agate-checkbox-text-color;
		background-color: @agate-checkbox-bg-color;
	});
}
