// FullscreenPopup.less
//
@import "../styles/skin.less";

.fullscreenPopup {
	.inner {
		height: 100%;
		width: 100%;
	}

	.applySkins({
		background-color: @agate-fullscreenpopup-bg-color;
		background-image: @agate-fullscreenpopup-bg-image;
	});
}
