// RadioItem.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "~@enact/agate/styles/mixins.less";
@import "~@enact/agate/styles/skin.less";

// Public
.switchItem {
	.agate-item-sizing();

	.label {
		.margin-start-end(0, @agate-component-spacing);

		font-weight: 500;
		vertical-align: middle;
	}

	.applySkins({
		.label {
			color: @agate-switchitem-label-text-color;

			.disabled({
				color: inherit;
			});
		}
	});
}
