// IconButton.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.button {
	.applySkins({
		height: @agate-iconbutton-height;
		min-width: @agate-iconbutton-height;
		padding: 0 @agate-iconbutton-h-padding;
		margin: 0 @agate-component-spacing;
		box-sizing: border-box;
		font-size: @agate-iconbutton-font-size;
		vertical-align: middle;

		&.minWidth {
			padding: 0;

			.client .icon {
				margin: 0;
			}
		}

		.bg {
			background-color: @agate-iconbutton-bg-color;
			border: @agate-iconbutton-border-width solid @agate-iconbutton-border-color;
			border-radius: @agate-iconbutton-border-radius;
			color: @agate-iconbutton-color;
			background-image: @agate-iconbutton-bg-image;
			box-shadow: @agate-iconbutton-shadow;
			transform: @agate-iconbutton-bg-transform;
		}

		.client {
			padding: @agate-iconbutton-border-width;	// We match the amount removed by the line-height above, so the text doesn't overlap the border
			color: @agate-iconbutton-color;

			.icon {
				-webkit-margin-start: 0;
				// height: 0;
				// line-height: 0;
				// margin-top: 0;
				// margin-bottom: 0;
			}
		}

		&.joinedLeft,
		&.joinedCenter {
			margin-right: 0;

			.bg {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		&.joinedRight,
		&.joinedCenter {
			margin-left: 0;

			.bg {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		&.huge {
			height: @agate-iconbutton-huge-height;
			width: @agate-iconbutton-huge-height;
			margin: @agate-iconbutton-huge-margin;

			.bg {
				border-width: @agate-iconbutton-huge-border-width;
			}
		}

		&.small {
			height: @agate-iconbutton-small-height;
			min-width: @agate-iconbutton-small-height;
			font-size: @agate-iconbutton-small-font-size;
			line-height: (@agate-iconbutton-small-height - (2 * @agate-iconbutton-border-width));
			padding: 0 @agate-iconbutton-small-h-padding;

			&.minWidth {
				padding: 0;
			}

			.client::before {
				bottom: 12px;
				left: 18px;
				right: 18px;
			}
		}

		&.grid {
			.bg {
				border-radius: @agate-iconbutton-grid-border-radius;
			}
		}

		&.smallest {
			height: 45px;
			min-width: 45px;

			.icon {
				font-size: 48px;
				height: 24px;
				line-height: 24px;
				width: 24px;
				margin: 0;
			}
		}

		// Button-non-disabled rules
		&:not([disabled]) {
			.focus({
				&.pressed,
				&:active {
					.bg {
						// -webkit-animation-name: expand;
						// animation-name: expand;
					}
				}
			});
		}

		&.highlighted {
			.bg {
				background-color: @agate-iconbutton-highlighted-bg-color;
				background-image: @agate-iconbutton-highlighted-bg-image;
				opacity: @agate-iconbutton-highlighted-opacity;
			}

			&,
			.client {
				color: @agate-iconbutton-focus-color;
			}
		}

		&.selected {
			.bg {
				background-color: @agate-iconbutton-selected-bg-color;
				border-color: @agate-iconbutton-selected-border-color;
			}

			&,
			.client {
				color: @agate-iconbutton-selected-color;
			}
		}
	});

	// TODO: Replace with an updated .focus() mixin that can apply rules both when focused and
	// within a focused node
	&:global(.spottable):focus,
	:global(.spottable):focus & {
		.applySkins({
			background-color: transparent;
			background-image: none;

			.bg {
				background-color: @agate-iconbutton-focus-bg-color;
				background-image: @agate-iconbutton-focus-bg-image;
			}

			&,
			.client {
				color: @agate-iconbutton-focus-color;
			}

			&.highlighted {
				.bg {
					opacity: 1;
				}
			}
		});
	}
}
