// All Font Definitions
//

// These fonts must all be defined here, rather than in each related skin file due to the way that
// skins are composed by LESS into the each component. If these were to be imported at the top of
// "variables" files, for example, the import or @font-face rules would be written inside the
// components' root selector (illegal location for these rules). If it's placed instead into the
// "skin.less" file, the rules will be stamped out as many times as the skin file is imported (one
// for each component), too many times.
//
// The result of placing them all in this location is both good and bad. Each file is only imported
// once, but each file is always imported, regardless of the current skin. A JS solution that
// dynamically imports these files (adds them to the LESS or the HEAD of the document) may be
// necessary to truly optimize this font download/installing process. That brings its own set of
// concerns like more JavaScript skin dependency and more places to update when changes occur, and
// a render delay or hiccup when a switch is preformed if the font hasn't been downloaded yet.

@import "./font-agateicons.less";
@import "./font-siliconicons.less";
@import "~@enact/ui/styles/mixins.less";

// Local theme font variables (not to be used externally)
//
@font-family-base-name: "Agate";

// Define local LESS variable for font paths
@font-system-src-agate-100:    local("NotoSans-Thin"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Thin.ttf) format("truetype");
@font-system-src-agate-100-i:  local("NotoSans-ThinItalic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Thin.ttf) format("truetype");
@font-system-src-agate-200:    local("NotoSans-ExtraLight"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Thin.ttf) format("truetype");
@font-system-src-agate-200-i:  local("NotoSans-ExtraLightItalic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Thin.ttf) format("truetype");
@font-system-src-agate-300:    local("NotoSans-Light"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Light.ttf) format("truetype");
@font-system-src-agate-300-i:  local("NotoSans-LightItalic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Light.ttf) format("truetype");
@font-system-src-agate-400:    local("NotoSans-Regular"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Light.ttf) format("truetype");
@font-system-src-agate-400-i:  local("NotoSans-Italic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Light.ttf) format("truetype");
@font-system-src-agate-500:    local("NotoSans-Medium"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Medium.ttf) format("truetype");
@font-system-src-agate-500-i:  local("NotoSans-MediumItalic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-MediumItalic.ttf) format("truetype");
@font-system-src-agate-600:    local("NotoSans-SemiBold"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Medium.ttf) format("truetype");
@font-system-src-agate-600-i:  local("NotoSans-SemiBoldItalic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Medium.ttf) format("truetype");
@font-system-src-agate-700:    local("NotoSans-Bold"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Bold.ttf) format("truetype");
@font-system-src-agate-700-i:  local("NotoSans-BoldItalic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-BoldItalic.ttf) format("truetype");
@font-system-src-agate-800:    local("NotoSans-ExtraBold"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Medium.ttf) format("truetype");
@font-system-src-agate-800-i:  local("NotoSans-ExtraBoldItalic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Medium.ttf) format("truetype");
@font-system-src-agate-900:    local("NotoSans-Black"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-Black.ttf) format("truetype");
@font-system-src-agate-900-i:  local("NotoSans-BlackItalic"), local("Museo Sans"), url(../../fonts/MuseoSans/MuseoSans-BlackItalic.ttf) format("truetype");

// Localized fonts
// Order correlates with load and priority order. Later fonts are stacked on top of earlier fonts.
// In the case of glyphs existing in two fonts, the later glyphs will be used.
@fonts: {
	am: local("NotoSansEthiopic-Regular") normal 300 600 700;
	ar: local("NotoSansArabic-Regular") normal 300 600 700;
	ur: local("NotoSansArabic-Regular") normal 300 600 700;
	ja: local("NotoSansCJKkr-Regular") normal 300 600 700;
	ko: local("NotoSansCJKkr-Regular") normal 300 600 700;
	ta: local("NotoSansTamil-Regular") normal 300 600 700;
	th: local("NotoSansThai-Regular") normal 300 600 700;
	zh-HK: local("NotoSansCJKkr-Regular") normal 300 600 700;
	zh-TW: local("NotoSansCJKkr-Regular") normal 300 600 700;
	si: local("NotoSansSinhala-Regular") normal 300 600 700;

	// DEV NOTE: This is the closest proximity to a collection of unit tests that we have to test this system.
	// name:							local("name");
	// nameRepeat:						local("name"), local("name2");
	// nameWeight:						local("name") 100;
	// nameMultipleWeight:				local("name") 100 900;
	// nameWeightStyle:				local("name") 100 italic;
	// nameMultipleWeightStyle:		local("name") 100 900 italic;
	// nameWeightRepeat:				local("name") 100, local("name2") 200;
	// nameWeightRepeat2ndWeight:		local("name"), local("name2") 200;
	// nameMultipleWeightRepeat:		local("name") 100 900, local("name2") 200 800;
	// nameWeightStyleRepeat:			local("name") 100 italic, local("name2") 200 normal;
	// nameMultipleWeightStyleRepeat:	local("name") 100 900 italic, local("name2") 200 800 normal;
};

// Generate @font-face Rules
.buildFontFace(@font-family-base-name; @font-system-src-agate-400);
.buildFontFace(@font-family-base-name; @font-system-src-agate-100;   100);
.buildFontFace(@font-family-base-name; @font-system-src-agate-100-i; 100; italic);
.buildFontFace(@font-family-base-name; @font-system-src-agate-200;   200);
.buildFontFace(@font-family-base-name; @font-system-src-agate-200-i; 200; italic);
.buildFontFace(@font-family-base-name; @font-system-src-agate-300;   300);
.buildFontFace(@font-family-base-name; @font-system-src-agate-300-i; 300; italic);
.buildFontFace(@font-family-base-name; @font-system-src-agate-400;   400);
.buildFontFace(@font-family-base-name; @font-system-src-agate-400-i; 400; italic);
.buildFontFace(@font-family-base-name; @font-system-src-agate-500;   500);
.buildFontFace(@font-family-base-name; @font-system-src-agate-500-i; 500; italic);
.buildFontFace(@font-family-base-name; @font-system-src-agate-600;   600);
.buildFontFace(@font-family-base-name; @font-system-src-agate-600-i; 600; italic);
.buildFontFace(@font-family-base-name; @font-system-src-agate-700;   700);
.buildFontFace(@font-family-base-name; @font-system-src-agate-700-i; 700; italic);
.buildFontFace(@font-family-base-name; @font-system-src-agate-800;   800);
.buildFontFace(@font-family-base-name; @font-system-src-agate-800-i; 800; italic);
.buildFontFace(@font-family-base-name; @font-system-src-agate-900;   900);
.buildFontFace(@font-family-base-name; @font-system-src-agate-900-i; 900; italic);

/* ----- Generated Agate Locale Fonts (Stacking onto "Agate") ------ */
.buildLocaleFonts(@font-family-base-name; @fonts);

//
// ----- DISABLED - PLAT-92904 -----
// Until such time that a solution for can be found for pre-downloading or pre-fetching external
// font resources, all external fonts must be disabled. Current webOS policy states that system
// apps, specifically, may not use external fonts that delay or impede the initial render.
//
// @import "./font-worksans.less";
// @import "./font-sourcesanspro.less";
