// PopupNavigation.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.popupNavigation {
	.applySkins({
		position: relative;
		width: 300px;
		height: 300px;
		margin: 10px;
		border-radius: 50%;
		overflow: hidden;

		.circle() {
			width: 50%;
			height: 50%;
			position: absolute;
			background-color: #E4B89E;
			transform-origin: bottom right;
		}

		.font() {
			width: 100%;
			position: absolute;
			color: #FFFFFF;
			bottom: 0;
			right: 0;
		}

		&.menu4 {
			.part {
				width: 50%;
				height: 50%;
				position: absolute;
				background-color: #e4b89e;
				transform-origin: bottom right;
				margin-top: 3px;

				.menu {
					position: absolute;
					width: 100%;
					top: 50%;
					left: 50%;
					color: #fff;
					transform+_: translate(-50%, -50%); // use LESS merging: http://lesscss.org/features/#merge-feature-space
				}

				&.part0 {
					transform: rotateZ(-45deg);

					.menu {
						transform+_: rotateZ(45deg); // This takes the rotateZ and adds it to the translate from above.
						// If this doesn't work, or is confusing, just do it manually:
						// transform: translate(-50%, -50%) rotateZ(45deg);
					}
				}

				&.part1 {
					transform: rotateZ(45deg);

					.menu {
						transform+_: rotateZ(-45deg);
					}
				}

				&.part2 {
					transform: rotateZ(135deg);

					.menu {
						transform+_: rotateZ(-135deg);
					}
				}

				&.part3 {
					transform: rotateZ(225deg);

					.menu {
						transform+_: rotateZ(-225deg);
					}
				}
			}
		}

		.innerCircle {
			background-color: #444;
			border-radius: 60px;
			font-size: 60px;
			transform: translate(114px, 118px);
		}
	});

	&:global(.spottable):focus,
	:global(.spottable):focus & {
		.applySkins({
			.circle() {
				background-color: black;
			}
		});
	}
}
