// PopupNavigation.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.popupNavigation {
	.applySkins({
		position: relative;
		width: 300px;
		height: 300px;
		margin: 10px;
		border-radius: 50%;
		overflow: hidden;

		.circle() {
			width: 50%;
			height: 50%;
			position: absolute;
			background-color: #E4B89E;
			transform-origin: bottom right;
		}

		.font() {
			width: 100%;
			position: absolute;
			color: #FFFFFF;
			bottom: 0;
			right: 0;
		}

		&.menu2 {}
		&.menu3 {}

		&.menu4 {
			.part0 {
				.circle();
				transform: rotateZ(45deg) translateX(100%);
				margin: 0 0 0 10px;
			}

			.part1 {
				.circle();
				transform: rotateZ(225deg);
				margin: 10px 0 0 0;
			}

			.part2 {
				.circle();
				transform: rotateZ(-45deg);
				margin: 0px 0px 0px -10px;
			}

			.part3 {
				.circle();
				transform: rotateZ(45deg);
				margin: -10px 0 0 0;
			}

			.menu0 {
				.font();
				transform: rotateZ(-45deg) translateY(50%);
				transform-origin: bottom left;
				text-align: right;
			}

			.menu1 {
				.font();
				transform: translateY(50%) rotateZ(-225deg);
				transform-origin: top;
				text-align: center;
			}

			.menu2 {
				.font();
				transform: rotateZ(45deg) translateY(50%);
				transform-origin: bottom right;
				text-align: left;

			}

			.menu3 {
				.font();
				transform: rotateZ(-45deg) translateY(50%);
				transform-origin: top left;
				text-align: center;
			}
		}

		.innerCircle {
			background-color: #444;
			border-radius: 60px;
			font-size: 60px;
			transform: translate(114px, 118px);
		}
	});

	&:global(.spottable):focus,
	:global(.spottable):focus & {
		.applySkins({
			.circle() {
				background-color: black;
			}
		});
	}
}
