// ColorPicker.less
//;
@import "../styles/mixins.less";
@import "../styles/skin.less";

.colorPicker {
	// position: relative;
	display: inline-block;
	vertical-align: inherit;

	.transitionContainer {
		position: absolute;
		display: inline-block;
		z-index: 1;
		pointer-events: none;

		&.openTransitionContainer {
			pointer-events: inherit;
		}
	}

	.group {
		display: block;
	}

	.applySkins({
		.palette {
			background-color: @agate-colorpicker-bg-color;
			border-radius: @agate-colorpicker-palette-border-radius;

			.swatch {
				margin: @agate-colorpicker-palette-swatch-margin;
			}
		}
	});
}
