// ColorPicker.module.less
//;
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.colorPicker {
	// position: relative;
	display: inline-block;
	vertical-align: inherit;

	.transitionContainer {
		position: absolute;
		display: inline-block;
		z-index: 1;
		pointer-events: none;
		min-width: 312px;

		&.openTransitionContainer {
			pointer-events: inherit;
		}
	}

	.group {
		display: block;
	}

	.sliders {
		display: none;
	}

	&.extended {
		.sliders {
			display: block;
		}
	}

	.applySkins({
		.transitionContainer {
			width: calc(100% - @agate-button-height - 2* @agate-component-spacing);
		}

		.palette {
			background-color: @agate-colorpicker-bg-color;
			border-radius: @agate-colorpicker-palette-border-radius;
			box-shadow: @agate-colorpicker-palette-shadow;
			margin: @agate-colorpicker-palette-margin;

			.swatch {
				margin: @agate-colorpicker-palette-swatch-margin;
			}

			.sliders {
				padding: @agate-colorpicker-palette-sliders-padding;
			}
		}
	});
}
