// Divider.less
//;
@import "../styles/mixins.less";
@import "../styles/skin.less";

.colorPicker {
	.applySkins({
		&,
		&.small {
			padding: 0;
		}

		// ColorPicker's Button bg style reset
		.bg {
			border-radius: 999px;
			transform: @agate-colorpicker-bg-transform;
		}

		.colorSwatch,
		.colorInput {
			position: absolute;
			.position(0);
			border-radius: @agate-colorpicker-swatch-border-radius;
		}

		.colorSwatch {
			margin: @agate-colorpicker-swatch-spacing;
		}

		.colorInput {
			padding: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	});
}
