// SwatchButton.module.less
//;
@import "../styles/mixins.less";
@import "../styles/skin.less";

.swatchButton {
	.applySkins({
		vertical-align: inherit;

		&,
		&.small {
			padding: 0;
		}

		// ColorPicker's Button bg style reset
		.bg {
			border-radius: @agate-colorpicker-border-radius;
			transform: @agate-colorpicker-bg-transform;
		}

		&.iconOnly {
			.bg {
				background-color: @agate-button-bg-color;
			}
		}

		.colorSwatch {
			position: absolute;
			.position(0);
			transform: @agate-colorpicker-bg-transform;
			border-radius: @agate-colorpicker-swatch-border-radius;
			margin: @agate-colorpicker-swatch-margin;
		}
	});
}
