// TimePicker.module.less
//

.timePicker {
	// hour and minute should always be left-to-right
	.pickers {
		direction: ltr;

		:global(.enact-locale-right-to-left) & {
			display: flex;
			align-items: center;

			.hourPicker {
				order: 2;
			}
			.divider {
				order: 2;
			}
			.minutePicker {
				order: 3;
			}
			.meridiemPicker{
				order: 1;
			}
		}

		.hourPicker,
		.minutePicker,
		.meridiemPicker {
			position: relative;

			&:not(:last-child)::after {
				content: '';
				width: 3px;
				height: 21px;
				opacity: 0.4;
				background-color: white;
				display: inline-block;
				vertical-align: inherit;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: calc(100% - 3px);
			}
		}
	}
}
