.log {
	line-height: 18px;

	& > div {
		display: inline-block;
		padding:0 6px;
		margin: 0 6px;
		line-height: initial;
		font-size: 18px;
	}

	div.name {
		width: 105px;
	}

	div.elementKind {
		width: 36px;
	}

	div.eventCapturing {
		width: 75px;
	}

	div.eventInfo {
		padding-left: 6px;
	}
}

.content {
	width: 100%;
	margin-top: 6px;
	overflow: hidden;
}
