// RadioItem.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

// Public
.radioItem {
	display: flex;
	flex-direction: row;
	align-items: center;

	.applySkins({
		border-bottom: @agate-radioitem-separator-border-width solid @agate-radioitem-separator-border-color;
		.agate-item-sizing();

		.icon {
			border-color: @agate-radioitem-icon-border-color;
			border-style: solid;
			border-width: @agate-radioitem-icon-border-width;
			background-color: @agate-radioitem-icon-bg-color;
			border-radius: @agate-radioitem-icon-border-radius;
			color: transparent;
		}

		.iconBefore {
			margin-left: 0;
		}

		.iconAfter {
			margin-right: 0;
		}

		.text {
			color: @agate-radioitem-color;
			flex: 1;
		}

		.focus({
			color: @agate-radioitem-focus-color;

			.icon {
				color: @agate-radioitem-icon-focus-color;
				background-color: @agate-radioitem-icon-focus-bg-color;
			}

			.text {
				color: @agate-radioitem-focus-color;
			}
		});

		&.selected {
			.icon {
				color: @agate-radioitem-icon-selected-color;
				background-color: @agate-radioitem-icon-selected-bg-color;
			}
		}
	});
}
