// RadioItem.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

// Public
.radioItem {
	.slotBefore {
		display: flex;

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;
		}
	}

	.applySkins({
		height: @agate-radioitem-height;

		.icon {
			border-color: @agate-radioitem-icon-border-color;
			border-style: solid;
			border-width: @agate-radioitem-icon-border-width;
			background-color: @agate-radioitem-icon-bg-color;
			border-radius: @agate-radioitem-icon-border-radius;
			color: transparent;
			opacity: @agate-radioitem-icon-opacity;
			margin: @agate-radioitem-icon-margin;
			box-sizing: border-box;
			width: @agate-radioitem-icon-width;
			height: @agate-radioitem-icon-height;
		}

		&.inline {
			&.item {
				padding: @agate-radioitem-inline-padding;
			}
		}

		.slotBefore {
			padding: @agate-radioitem-slotbefore-padding;
			display: flex;
			align-items: center;
			margin-inline-end: @agate-radioitem-slotbefore-margin-end;
		}

		.focus({
			color: @agate-radioitem-focus-color;
			border-color: @agate-radioitem-focus-border-color;

			.icon {
				color: @agate-radioitem-icon-focus-color;
				background-color: @agate-radioitem-icon-focus-bg-color;
			}
		});

		&.selected {
			border-color: @agate-radioitem-selected-border-color;

			.icon {
				color: @agate-radioitem-icon-selected-color;
				background-color: @agate-radioitem-icon-selected-bg-color;
				opacity: @agate-radioitem-icon-selected-opacity;
			}
			.focus({
				.icon {
					color: @agate-radioitem-icon-selected-color;
				}
			})
		}
	});
}
