// FanSpeedControl.module.less
//

@import '../styles/mixins.less';
@import '../styles/skin.less';
@import '../styles/variables.less';

.fanSpeedControl {
	position: relative;
	height: 320px;
	width: 320px;

	.valueDisplay {
		align-items: center;
		display: flex;
		height: 120px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.applySkins({
		.fanIcon {
			font-size: @agate-fanspeedcontrol-icon-font-size;
			height: @agate-fanspeedcontrol-icon-height;
			line-height: @agate-fanspeedcontrol-icon-height;
			width: @agate-fanspeedcontrol-icon-height;
		}

		.fanValue {
			font-size: @agate-fanspeedcontrol-font-size;
			font-weight: @agate-fanspeedcontrol-font-weight;
			margin-right: @agate-fanspeedcontrol-margin;
		}
	})
}

.fanSpeedArc {
	position: absolute;
	width: 100%;
	height: 100%;
}
