// ToggleButton.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.toggleButton {
	.applySkins({
		border: none;

		.bg {
			background-color: @agate-togglebutton-indicator-off-bg-color;
		}

		.client {
			color: @agate-accent;
		}

		&::after {
			.position(@agate-togglebutton-indicator-position);
			position: absolute;
			height: @agate-togglebutton-indicator-height;
			background-color: @agate-togglebutton-indicator-off-bg-color;
			border-color: @agate-togglebutton-indicator-off-border-color;
			border-width: @agate-togglebutton-indicator-border-width;
			border-style: solid;
			border-radius: @agate-togglebutton-indicator-border-radius;
			transform: @agate-togglebutton-indicator-transform;
		}

		&.underline {
			// no underline in Copper since we use a different color/background-color to denoted the selected state
		}

		&.selected {
			.bg {
				background-color: @agate-accent;
			}
			.client {
				color: @agate-highlight;
			}

			&::after {
				background-color: @agate-togglebutton-indicator-on-bg-color;
				border-color: @agate-togglebutton-indicator-on-border-color;
			}
		}

		.focus({

			.bg {
				background-color: transparent;
			}

			&::after {
				background-color: @agate-togglebutton-indicator-off-focus-bg-color;
				border-color: @agate-togglebutton-indicator-off-focus-border-color;
			}

			&.selected {
				&::after {
					background-color: @agate-togglebutton-indicator-on-focus-bg-color;
					border-color: @agate-togglebutton-indicator-on-focus-border-color;
				}
			}
		});

		.disabled({
			.bg {
				background-color: @agate-accent;
			}

			.client {
				color: @agate-highlight;
			}

			&::after {
				background-color: @agate-togglebutton-indicator-disabled-off-bg-color;
				border-color: @agate-togglebutton-indicator-disabled-off-border-color;
			}

			&.selected {
				&::after {
					background-color: @agate-togglebutton-indicator-disabled-on-bg-color;
					border-color: @agate-togglebutton-indicator-disabled-on-border-color;
				}
			}
		});
	});
}
