// ToggleButton.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.toggleButton {
	.applySkins({
		&::after {
			.position(@agate-togglebutton-indicator-position);
			position: absolute;
			height: @agate-togglebutton-indicator-height;
			background-color: @agate-togglebutton-indicator-off-bg-color;
			border-color: @agate-togglebutton-indicator-off-border-color;
			border-width: @agate-togglebutton-indicator-border-width;
			border-style: solid;
			border-radius: @agate-togglebutton-indicator-border-radius;
			transform: @agate-togglebutton-indicator-transform;
		}

		&.underline {
			&::after {
				content: "";
			}
		}

		&.selected {
			&::after {
				background-color: @agate-togglebutton-indicator-on-bg-color;
				border-color: @agate-togglebutton-indicator-on-border-color;
			}
		}

		.focus({
			&::after {
				background-color: @agate-togglebutton-indicator-off-focus-bg-color;
				border-color: @agate-togglebutton-indicator-off-focus-border-color;
			}

			&.selected {
				&::after {
					background-color: @agate-togglebutton-indicator-on-focus-bg-color;
					border-color: @agate-togglebutton-indicator-on-focus-border-color;
				}
			}
		});

		.disabled({
			&::after {
				background-color: @agate-togglebutton-indicator-disabled-off-bg-color;
				border-color: @agate-togglebutton-indicator-disabled-off-border-color;
			}

			&.selected {
				&::after {
					background-color: @agate-togglebutton-indicator-disabled-on-bg-color;
					border-color: @agate-togglebutton-indicator-disabled-on-border-color;
				}
			}
		});
	});
}

.button {
	.applySkins({
		.bg {
			background-color: @agate-togglebutton-bg-color;
			border: @agate-togglebutton-border-width solid @agate-togglebutton-border-color;
			border-radius: @agate-togglebutton-border-radius;
			height: @agate-togglebutton-height;
			width: @agate-togglebutton-width;
		}

		.client {
			color: @agate-togglebutton-color;
			font-size: @agate-togglebutton-font-size;
			font-weight: @agate-togglebutton-font-weight;
			height: @agate-togglebutton-height;
			line-height: @agate-togglebutton-line-height;
			text-align: @agate-togglebutton-text-align;
		}

		.icon {
			color: @agate-togglebutton-icon-off-color;
			font-size: @agate-togglebutton-icon-font-size;
			line-height: @agate-togglebutton-icon-size;
			width: @agate-togglebutton-icon-size;
			height: @agate-togglebutton-icon-size;
		}

		&.selected {
			.bg {
				background-color: @agate-togglebutton-selected-bg-color;
			}

			.icon {
				color: @agate-togglebutton-icon-on-color;
				font-size: @agate-togglebutton-icon-font-size;
				line-height: @agate-togglebutton-icon-size;
				width: @agate-togglebutton-icon-size;
				height: @agate-togglebutton-icon-size;
			}

			.client {
				color: @agate-togglebutton-selected-color;
				font-size: @agate-togglebutton-font-size;
				font-weight: @agate-togglebutton-font-weight;
				line-height: @agate-togglebutton-line-height;
				text-align: @agate-togglebutton-text-align;
			}
		}
	});
}
