// TemperatureControl.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.temperatureControl {
	position: relative;

	.valueDisplay {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.background, .progressCold, .progressHeat {
		fill: none;
		stroke-width: 6;
	}

	.applySkins({
		height: @agate-temperaturecontrol-height;
		width: @agate-temperaturecontrol-height;

		.valueDisplay {
			font-size: @agate-temperaturecontrol-font-size;
			font-weight: @agate-temperaturecontrol-font-weight;
		}

		.background {
			stroke: @agate-temperaturecontrol-arc-background-color;
		}

		.progressCold {
			stroke: @agate-temperaturecontrol-arc-fill-cold-color;
		}

		.progressHeat {
			stroke: @agate-temperaturecontrol-arc-fill-heat-color;
		}

		.knobCold {
			fill: @agate-temperaturecontrol-arc-fill-cold-color;
		}

		.knobHeat {
			fill: @agate-temperaturecontrol-arc-fill-heat-color;
		}
	});
}
