// TemperatureControl.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.temperatureControl {
	position: relative;

	.valueDisplay {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.slider {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

	.applySkins({
		height: 321px;// @agate-temperaturecontrol-height;
		width: 321px;// @agate-temperaturecontrol-height;

		.valueDisplay {
			font-size: 60px;// @agate-temperaturecontrol-font-size;
			font-weight: 900; //@agate-temperaturecontrol-font-weight;
		}
	});
}
