// Item.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.item {
	position: relative;

	.applySkins({
		.agate-item-sizing();

		line-height: @agate-item-line-height;
		color: @agate-item-color;

		&.inline {
			max-width: 240px;
		}

		.focus({
			color: @agate-sliderbutton-focus-color;
			background-color: @agate-sliderbutton-focus-bg-color;
			background-image: @agate-sliderbutton-focus-bg-image;
		});
	});
}
