// Item.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.item {
	position: relative;

	.content {
		/* Available for override customization */
	}

	.applySkins({
		.agate-item-sizing();

		line-height: @agate-item-line-height;
		color: @agate-item-color;

		&.inline {
			max-width: 240px;
		}

		.focus({
			background-color: @agate-item-focus-bg-color;
			color: @agate-item-focus-color;
		});

		&.outlineFocus {
			.focus({
				background-color: unset;
				background-image: unset;
				color: @agate-item-color;
				outline: @agate-item-focus-outline;
			});
		}
	});
}
