// Item.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.item {
	// Item's display is override Layout so forcing it back here'
	display: flex;
	position: relative;

	.itemContent {
		&.hasLabel {
			&.labelAfter,
			&.labelBelow {
				.content { order: 1; }
				.label   { order: 2; }
			}

			&.labelAbove,
			&.labelBefore {
				.content { order: 2; }
				.label   { order: 1; }
			}
		}
	}

	.slotAfter {
		display: flex;
		justify-content: center;
	}

	.slotBefore {
		display: flex;
		justify-content: center;
	}

	.applySkins({
		.agate-item-sizing();

		line-height: @agate-item-line-height;
		border-style: solid;
		border-width: @agate-item-border-width;
		border-color: @agate-item-border-color;
		color: @agate-item-color;
		background-color: @agate-item-bg-color;

		.itemContent {
			line-height: @agate-item-itemcontent-line-height;

			.label   {
				color: @agate-item-label-color;
				font-size: @agate-item-label-font-size;
				line-height: @agate-item-label-line-height;
			}

			&.hasLabel {
				padding: @agate-item-haslabel-padding;

				&.labelBefore .label {
					.padding-start-end(0, @agate-item-label-padding);
				}

				&.labelAfter .label {
					.padding-start-end(@agate-item-label-padding, 0);
				}

				&.labelAfter,
				&.labelBefore {
					.content {
						box-sizing: border-box;
						// when showing content and label inline, favor content
						min-width: @agate-item-content-min-width;
					}

					.label {
						box-sizing: border-box;
						max-width: @agate-item-label-max-width;
					}
				}
			}
		}

		.slotAfter {
			font-size: @agate-item-sub-text-size;
		}

		&.selected {
			color: @agate-item-selected-color;
		}

		&.inline {
			// overriding ui/Item's inline-block
			display: inline-flex;

			.itemContent {
				max-width: @agate-item-inline-content-max-width;
			}

			.itemContent,
			.content {
				width: unset;
			}
		}

		.focus({
			border-color: @agate-item-focus-border-color;
			background-color: @agate-item-focus-bg-color;
			color: @agate-item-focus-color;

			.itemContent {
				.label {
					color: @agate-item-label-color;
				}
			}
		});

		&.selected {
			background-color: @agate-item-selected-bg-color;
			border-color: @agate-item-selected-border-color;
			color: @agate-item-focus-color;

			&::before {
				content: "";
				height: @agate-indicator-height;
				width: @agate-indicator-height;
				background-color: @agate-indicator-bg-color;
				border-radius: @agate-indicator-border-radius;
				align-self: @agate-indicator-align-self;
				margin-right: @agate-indicator-margin-right;
			}

			.itemContent {
				.label {
					color: @agate-item-selected-label-color;
				}
			}

			// Selected+Focus colors use both sets of colors
			.focus({
				border-color: @agate-item-selected-border-color;
				background-color: @agate-item-focus-bg-color;
				color: @agate-item-focus-color;

				.itemContent {
					.label {
						color: @agate-item-focus-color;
					}
				}
			});
		}
	});
}
