// Button.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.button {
	height: @agate-button-height;
	padding: 0 @agate-button-h-padding;
	margin: 0 @agate-component-spacing;

	.bg {
		background-color: inherit;
		border-width: @agate-button-border-width;
		border-style: solid;
		border-radius: @agate-button-border-radius;
	}

	.client {
		padding: @agate-button-border-width;	// We match the amount removed by the line-height above, so the text doesn't overlap the border

		.icon {
			-webkit-margin-start: 0;
		}
	}

	&.small {
		height: @agate-button-small-height;
		min-width: @agate-button-small-height;
		line-height: (@agate-button-small-height - (2 * @agate-button-border-width));
		padding: 0 @agate-button-small-h-padding;

		.client::before {
			bottom: 12px;
			left: 18px;
			right: 18px;
		}
	}

	&.grid {
		.bg {
			border-radius: 0;
		}
	}

	// Button-non-disabled rules
	&:not([disabled]) {
		.focus({
			&.pressed,
			&:active {
				.bg {
					// -webkit-animation-name: expand;
					// animation-name: expand;
				}
			}
		});
	}

	.applySkins({
		.bg {
			color: @agate-button-color;
			border-color: @agate-button-color;
			background-image: @agate-button-bg-image;
		}
		.client {
			color: @agate-button-color;
		}

		.focus({
			.bg {
				background-color: @agate-button-color;
				background-image: @agate-gradient;
			}

			.client {
				color: @agate-button-focus-color;
			}
		});
	});
}
