// BodyText.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.bodyText {
	.agate-body-text();

	:global(.enact-locale-right-to-left) & {
		text-align: right;

		&.centered {
			text-align: center;
		}
	}

	.locale-japanese-line-break();

	.applySkins({
		font-weight: @agate-body-font-weight;
		font-size: @agate-body-font-size;
		line-height: @agate-body-line-height;
		margin-left: @agate-spotlight-outset;
		margin-right: @agate-spotlight-outset;

		&.small {
			font-size: @agate-body-small-font-size;
		}
	});
}
