// IconItem.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.iconItem {
	.iconBefore {
		margin-left: 0;
	}

	.iconAfter {
		margin-right: 0;
	}

	.labeledItem {
		padding: 0;
	}

	.applySkins({
		padding: @agate-iconitem-padding;

		.label {
			color: @agate-iconitem-color;
			line-height: @agate-iconitem-line-height;
			font-size: @agate-iconitem-font-size;
		}
	});
}
