// DatePicker.module.less
//
.datePicker {
	.day,
	.month,
	.year {
		/* These should be available to the JS but have no associated rules at this time. */
	}

	.divider {
		width: 3px;
		height: 21px;
		opacity: 0.4;
		background-color: #ffffff;
		display: inline-block;
		vertical-align: inherit;
	}
}
