//
// Agate EZ Theme Style Variables for
// so many colors, oh so many colors~~~! :amaze:
//

// Generalized colors, only for use within this file.
// To use a color, assign it to a component-named variable and reference that from your component.
@moon-ez-white: white;


// LabeledItem
// ----------------
@moon-ez-labeleditem-label-text-color: @moon-ez-white;

// Notification
// ----------------
@moon-ez-notification-border-color: fade(@moon-ez-white, 15%);

// SwitchItem
// ----------------
@moon-ez-switchitem-label-text-color: @moon-ez-white;

