// Skin colors definitions
//

//
// This color definition file is based on the "silicon-day" color file.
// It's only necessary to include values that are different from day here,
// as these are overrides to the "base" layer of colors.
//

// Abstracted Colors
@agate-background: @agate-black;
@agate-foreground: @agate-white;
@agate-background-active: fade(@agate-white, 15%);
@agate-foreground-active: @agate-black;
@agate-foreground-focus: @agate-black;

// Button
// ---------------------------------------
@agate-button-bg-color:       @silicon-gray;
@agate-button-border-color:   transparent;
@agate-button-focus-border-color: transparent;
@agate-button-focus-color:    @agate-white;
@agate-button-highlighted-color: @agate-black;

// Dropdown
// ---------------------------------------
@agate-dropdown-list-bg-color: @agate-bg-color;

// Input
// ---------------------------------------
@agate-input-decorator-border-color:          fade(@agate-foreground, 30%);

// Item
// ---------------------------------------
@agate-item-focus-color:     @agate-spotlight-color;

// Panels
// ---------------------------------------
@agate-panels-partial-bg-color:       @agate-background;
@agate-panels-breadcrumb-bg-color:    @agate-bg-color;

// RadioItem
// ---------------------------------------
@agate-radioitem-icon-border-color: @agate-white;
@agate-radioitem-icon-selected-color: @agate-white;

// Slider
// ---------------------------------------
@agate-slider-track-bg-color: @agate-darker-gray;
@agate-slider-fill-bg-color:  @agate-white;

// Switch
// ---------------------------------------
@agate-switch-bg-color: @agate-darker-gray;
@agate-switch-selected-bg-color: @agate-accent;
@agate-switch-selected-focus-bg-color: @agate-switch-selected-bg-color;
@agate-switch-color: @agate-dark-gray;
@agate-switch-selected-color: @agate-title-text-color;
@agate-switch-focus-bg-color: @agate-text-color;
@agate-switch-focus-color: @agate-black;
@agate-switch-label-color: @agate-accent;

// Scroller
// ---------------------------------------
@agate-scroller-scrollbar-thumb-bg-color: @agate-white;
