// Skin colors definitions
//

//
// This is the "base" layer of colors for the "silicon" skin. These values are reused by the "night"
// skin variant automatically.
//
// This itself is also based on the agate base colors, which is mostly defined as transparent and
// inherit to provide maximum flexibility with a skin's color palette.
//
// When adding new component colors, add a variable to the `colors-base.less` file first, as
// transparent, then add the "silicon" color value here to avoid breaking other skins.
//

// Silicon skin color palette
@silicon-white: #ffffff;
@silicon-black: #000000;
@silicon-accent: #ff2d55;
@silicon-red-pink: #f1304f;
@silicon-dark: #1b1f35;
@silicon-vibrant-purple: #9e00d8;
@silicon-magenta: #ba0088;
@silicon-blush: #f2acac;
@silicon-sky: #88d2fc;
@silicon-foam-green: #8afcb0;
@silicon-purply-blue: #6b24f2;
@silicon-medium-pink: #ea448e;
@silicon-faded-orange: #f3ae4d;
@silicon-dark-two: #2a2742;
@silicon-light-gray: #f2f2f2;
@silicon-gray: #eeeeee;
@silicon-dark-gray: #777777;
@silicon-night-rider-gray: #333333;
@silicon-very-light-gray: #cccccc;
@silicon-gradient: linear-gradient(to right, @silicon-vibrant-purple, @silicon-magenta, @silicon-red-pink);

// Abstracted Colors
@agate-accent: var(--agate-accent-color, @silicon-accent);
@agate-accent-h: var(--agate-accent-h, 350);
@agate-accent-s: var(--agate-accent-s, 78%);
@agate-accent-l: var(--agate-accent-l, 57%);
@agate-highlight: var(--agate-highlight-color, @silicon-vibrant-purple);
@agate-highlight-h: var(--agate-highlight-h, 284);
@agate-highlight-s: var(--agate-highlight-s, 100%);
@agate-highlight-l: var(--agate-highlight-l, 42%);
@agate-background: @agate-white;
@agate-foreground: @agate-black;
@agate-background-active: fade(@agate-black, 15%);
@agate-foreground-active: @agate-white;
@agate-background-focus: @agate-accent;
@agate-foreground-focus: @agate-white;
@agate-gradient:    @silicon-gradient;
@agate-black:       @silicon-black;
@agate-darker-gray: @silicon-dark;
@agate-dark-gray:   @silicon-dark-two;
@agate-gray:        #8a8a8a;
@agate-light-gray:  #ededed;
@agate-white:       @silicon-white;
@agate-noble-gray:	#999999;

// Component color assignments
@agate-bg-color: @agate-background;
@agate-bg-image: none;
@agate-bg-image2: none;
@agate-text-color: @agate-foreground;
@agate-title-text-color: @agate-foreground;

// Disabled Opacity
// ---------------------------------------
@agate-disabled-opacity: 0.6;
@agate-disabled-translucent-opacity: 0.4;

// Spotlight and State
// ---------------------------------------
@agate-spotlight-color:                @agate-foreground-focus;
@agate-spotlight-bg-color:             @agate-background-focus;
@agate-spotlight-border-color:         transparent;
@agate-spotlight-disabled-text-color:  fade(@agate-spotlight-color, 40%);
@agate-spotlight-focus-bg-image:       none;

// Button
// ---------------------------------------
@agate-button-color:          @agate-black;
@agate-button-bg-color:       @agate-white;
@agate-button-bg-image:       none;
@agate-button-border-color:   fade(@agate-black, 50%);
@agate-button-shadow:         none;
@agate-button-active-color:   @agate-button-color;
@agate-button-active-bg-color: @silicon-light-gray;
@agate-button-focus-color:    @agate-spotlight-color;
@agate-button-focus-bg-color: transparent;
@agate-button-focus-bg-image: @silicon-gradient;
@agate-button-highlighted-color: @agate-white;
@agate-button-highlighted-bg-color: @agate-highlight;
@agate-button-highlighted-bg-image: @agate-button-bg-image;
@agate-button-selected-color: @agate-button-color;
@agate-button-selected-bg-color: @agate-button-bg-color;
@agate-button-selected-border-color: @agate-button-border-color;
@agate-button-badge-bg-color: @agate-accent;

// Checkbox
// ---------------------------------------
@agate-checkbox-text-color: @agate-foreground;
@agate-checkbox-bg-color: transparent;
@agate-checkbox-border-color: fade(@agate-foreground, 50%);
@agate-checkbox-selected-border-color: @agate-foreground;

// ColorPicker
// ---------------------------------------
@agate-colorpicker-bg-color: fade(@agate-black, 50%);

// ContextualPopup
// ---------------------------------------
@agate-contextual-popup-bg-color:                   @silicon-light-gray;
@agate-contextual-popup-border-color:               @silicon-gray;
@agate-contextual-popup-close-button-border-color:  transparent;
@agate-contextual-popup-color:                      @agate-black;

// DateTimePicker
// ---------------------------------------
@agate-datetimepicker-active-container-bg-color: transparent;
@agate-datetimepicker-active-container-bg-image: @agate-gradient;
@agate-datetimepicker-divider-bg-color: @agate-white;
@agate-datetimepicker-divider-opacity: 0.4;

// Dropdown
// ---------------------------------------
@agate-dropdown-button-bg-color: @silicon-gray;
@agate-dropdown-button-border-color: transparent;
@agate-dropdown-button-client-color: @agate-black;
@agate-dropdown-button-icon-color: @agate-accent;
@agate-dropdown-button-open-border-color: fade(@agate-black, 25%);
@agate-dropdown-up-button-open-border-bottom-color: transparent;
@agate-dropdown-selected-color: @agate-black;
@agate-dropdown-item-border-color: transparent;
@agate-dropdown-item-color: @agate-black;
@agate-dropdown-item-focus-bg-color: fade(@agate-black, 5%);

// Drawer
// ---------------------------------------
@agate-drawer-bg-image: @agate-popup-bg-image;
@agate-drawer-shadow: @agate-popup-shadow;

// FullscreenPopup
// ---------------------------------------
@agate-fullscreenpopup-bg-image: @agate-bg-image;

// Header
// ---------------------------------------
@agate-header-subtitle-text-color: @agate-foreground;
@agate-header-subtitle-opacity: 0.4;

// Heading
// ---------------------------------------
@agate-heading-border-color: fadeout(@agate-heading-text-color, 30%);
@agate-heading-accent-color: @agate-accent;

// ImageItem
// ---------------------------------------
@agate-imageitem-border-color: transparent;
@agate-imageitem-focus-border-color: @agate-accent;
@agate-imageitem-focus-bg-color: @agate-background-focus;
@agate-imageitem-caption-overlay-text-color: @agate-white;
@agate-imageitem-caption-overlay-opacity: 0.5;

// Indicator
// ---------------------------------------
@agate-indicator-bg-color: @agate-accent;

// Input
// ---------------------------------------
@agate-input-active-border-color:             @agate-accent;
@agate-input-border-color:                    @agate-foreground;
@agate-input-caret-color:                     @agate-accent;
@agate-input-decorator-border-color:          transparent;
@agate-input-decorator-focused-border-color:  transparent;
@agate-input-focused-background-image:        none;
@agate-input-focused-border-color:            transparent;
@agate-input-focused-text-color:              @agate-foreground;
@agate-input-placeholder-color:               @agate-foreground;
@agate-input-text-color:                      @agate-text-color;

// Item
// ---------------------------------------
@agate-item-border-color:                 fade(@agate-black, 40%);
@agate-item-color:                        @agate-text-color;
@agate-item-label-color:                  @agate-accent;
@agate-item-focus-bg-color:               fade(@agate-black, 15%);
@agate-item-focus-border-color:           @agate-item-border-color;
@agate-item-focus-color:                  @agate-item-color;
@agate-item-selected-border-color:        @agate-accent;
@agate-item-selected-color:               @agate-item-label-color;

// Keypad
// ---------------------------------------
@agate-keypad-button-active-bg-color:     transparent;
@agate-keypad-button-active-border-color: @agate-accent;
@agate-keypad-button-active-color:        @agate-keypad-button-active-border-color;
@agate-keypad-button-bg-color:            transparent;
@agate-keypad-button-color:               @agate-foreground;
@agate-keypad-button-focus-color:         @agate-white;
@agate-keypad-button-label-color:         @silicon-dark-gray;
@agate-keypad-input-decorator-box-shadow: none;
@agate-keypad-input-opacity:              1;

// LabeledIconButton
// ---------------------------------------
@agate-labelediconbutton-label-focus-color: @agate-accent;

// MediaPlayer
// ---------------------------------------
@agate-mediaslider-bar-color: fade(@agate-foreground, 50%);
@agate-mediaslider-fill-bg-image: @silicon-gradient;
@agate-mediaslider-focused-bar-color: fade(@agate-foreground, 50%);
@agate-mediaslider-focused-fill-bg-image: @silicon-gradient;

// Panels
// ---------------------------------------
@agate-panels-bg-color:               @agate-white;
@agate-panels-breadcrumb-bg-color:    @agate-light-gray;
@agate-panels-tab-separator-border-color: @silicon-night-rider-gray;
@agate-panels-tab-color:              @agate-foreground;
@agate-panels-tab-bg-color:           transparent;
@agate-panels-tab-bg-image:           linear-gradient(to bottom, transparent, fade(@silicon-night-rider-gray, 50%));
@agate-panels-tab-selected-color:     fade(@agate-white, 90%);
@agate-panels-tab-selected-bg-color:  transparent;
@agate-panels-tab-selected-bg-image:  linear-gradient(to bottom, ~"hsla(var(--agate-highlight-h, 0), var(--agate-highlight-s, 0), var(--agate-highlight-l, 0), 0.1)", @agate-highlight 98%, @agate-accent);
@agate-panels-tab-focus-color:        white;
@agate-panels-tab-focus-bg-color:     ~"hsla(var(--agate-accent-h, 0), var(--agate-accent-s, 0), var(--agate-accent-l, 0), 0.2)"; // @agate-accent; // fade(@agate-accent, 20%);
@agate-panels-tab-focus-bg-image:     linear-gradient(to bottom, ~"hsla(var(--agate-accent-h, 0), var(--agate-accent-s, 0), var(--agate-accent-l, 0), 0.1)", @agate-accent 98%, @agate-accent);

// Picker
// ---------------------------------------
@agate-picker-active-color: @agate-spotlight-color;
@agate-picker-active-bg-color: @agate-accent;
@agate-picker-active-bg-image: @agate-gradient;
@agate-picker-item-color: fade(@agate-foreground, 50%);
@agate-picker-item-bg-color: transparent;
@agate-picker-item-decrement-bg-image: none;
@agate-picker-item-increment-bg-image: none;
@agate-picker-secondary-item-color: fade(@agate-foreground, 35%);

// Popup
// ---------------------------------------
@agate-popup-plain-body-color: @agate-foreground;
@agate-popup-bg-color: fade(@silicon-gray, 95%);
@agate-popup-bg-image: none;
@agate-popup-shadow: none;
@agate-popup-body-border: none;
@agate-popup-body-border-color: @agate-highlight transparent;
@agate-popup-body-bg-color: transparent;
@agate-popup-body-bg-image: none;
@agate-popup-buttons-bg-color: @silicon-very-light-gray;

// PopupMenu
// ---------------------------------------
@agate-popupmenu-bg-color: fade(@agate-black, 70%); // The design doc says 80% opacity in two places, but those are actually combined so 80% of 80%... ~71.25%.
@agate-popupmenu-bg-image: none;

// ProgressBar
// ---------------------------------------
@agate-progressbar-track-bg-color: @agate-slider-track-bg-color;
@agate-progressbar-fill-bg-color: @agate-slider-fill-bg-color;
@agate-progressbar-fill-bg-image: linear-gradient(to right, transparent, fade(@agate-white, 75%));
@agate-progressbar-vertical-fill-bg-image: linear-gradient(to top, transparent, fade(@agate-white, 75%));

// RadioItem
// ---------------------------------------
@agate-radioitem-focus-color: @agate-item-color;
@agate-radioitem-icon-border-color: @agate-foreground;
@agate-radioitem-icon-bg-color: transparent;
@agate-radioitem-icon-focus-color: @agate-foreground;
@agate-radioitem-icon-selected-color: @agate-foreground;

// Slider
// ---------------------------------------
@agate-slider-color:          @agate-accent;
@agate-slider-track-bg-color: fade(@agate-black, 50%);
@agate-slider-fill-bg-color:  @agate-black;
@agate-slider-focus-fill-bg-color: @agate-accent;
@agate-slider-knob-bg-color:  @agate-black;
@agate-slider-knob-focus-bg-color: @agate-accent;
@agate-slider-knob-shadow:    0;
@agate-slider-knob-focus-shadow: @agate-slider-knob-shadow;

// Scroller
// ---------------------------------------
@agate-scroller-scrollbar-thumb-bg-color: @agate-black;

// IncrementSlider
// ---------------------------------------
@agate-incrementslider-color: @agate-foreground;
@agate-incrementslider-horizontal-button-decrement-border-color: @agate-button-border-color;
@agate-incrementslider-horizontal-button-decrement-bg-color: @agate-button-bg-color;
@agate-incrementslider-horizontal-button-decrement-bg-image: @agate-button-bg-image;
@agate-incrementslider-horizontal-button-decrement-shadow: @agate-button-shadow;

// SliderButton
// ---------------------------------------
@agate-sliderbutton-color:          @agate-text-color;
@agate-sliderbutton-bg-color:       @agate-slider-track-bg-color;
@agate-sliderbutton-bg-image:       @agate-slider-track-bg-image;
@agate-sliderbutton-border-color:   transparent;
@agate-sliderbutton-focus-color:    @agate-slider-focus-color;
@agate-sliderbutton-focus-bg-color: @agate-slider-track-focus-bg-color;
@agate-sliderbutton-focus-bg-image: @agate-slider-track-focus-bg-image;
@agate-sliderbutton-knob-bg-color:  transparent;
@agate-sliderbutton-knob-bg-image:  none;
@agate-sliderbutton-knob-border-color: @agate-accent;
@agate-sliderbutton-knob-shadow:    @agate-slider-knob-shadow;
@agate-sliderbutton-knob-focus-shadow: @agate-slider-knob-focus-shadow;

// Spinner
// ---------------------------------------
@agate-spinner-light-color: @agate-white;
@agate-spinner-dark-color: @agate-darker-gray;

// Switch
// ---------------------------------------
@agate-switch-bg-color: @agate-darker-gray;
@agate-switch-selected-bg-color: @agate-accent;
@agate-switch-selected-focus-bg-color: @agate-switch-selected-bg-color;
@agate-switch-color: @agate-dark-gray;
@agate-switch-selected-color: @agate-title-text-color;
@agate-switch-focus-bg-color: @agate-text-color;
@agate-switch-focus-color: @agate-black;
@agate-switch-label-color: @agate-accent;

// ThumbnailItem
// ---------------------------------------
@agate-thumbnailitem-label-text-color: @agate-noble-gray;
@agate-thumbnailitem-label-focus-text-color: @agate-noble-gray;
@agate-thumbnailitem-label-selected-text-color: @agate-foreground;
@agate-roundthumbnailitem-border-color: @agate-foreground;

// Toggle Colors
// ---------------------------------------
@agate-togglebutton-indicator-off-bg-color: @silicon-dark-gray;
@agate-togglebutton-indicator-on-bg-color: @agate-accent;
@agate-togglebutton-indicator-off-border-color: transparent;
@agate-togglebutton-indicator-on-border-color: transparent;
@agate-togglebutton-indicator-off-focus-bg-color: @agate-togglebutton-indicator-off-bg-color;
@agate-togglebutton-indicator-on-focus-bg-color: @agate-togglebutton-indicator-on-bg-color;
@agate-togglebutton-indicator-off-focus-border-color: @agate-togglebutton-indicator-on-focus-border-color;
@agate-togglebutton-indicator-on-focus-border-color: transparent;
@agate-togglebutton-indicator-disabled-off-bg-color: @agate-togglebutton-indicator-off-bg-color;
@agate-togglebutton-indicator-disabled-on-bg-color: @agate-togglebutton-indicator-on-bg-color;
@agate-togglebutton-indicator-disabled-off-border-color: transparent;
@agate-togglebutton-indicator-disabled-on-border-color: @agate-togglebutton-indicator-disabled-off-border-color;
@agate-togglebutton-color: @agate-button-color;
@agate-togglebutton-bg-color: @agate-button-bg-color;
@agate-togglebutton-selected-color: @agate-button-selected-color;
@agate-togglebutton-selected-bg-color:  @agate-button-selected-bg-color;

// Tooltip
// ---------------------------------------
@agate-tooltip-bg-color:               @agate-darker-gray;
@agate-tooltip-text-color:             @agate-white;
@agate-tooltip-border-color:           @silicon-dark-gray;
