// Skin colors definitions
//


// Named Colors
@agate-background: #1f1f1f;
@agate-foreground: @agate-white;
@agate-foreground-active: @agate-foreground;
@agate-foreground-focus: @agate-foreground;

// Component color assignments
@agate-bg-color: @agate-black;
@agate-text-color: @agate-foreground;
@agate-title-text-color: @agate-foreground;

// Spotlight and State
// ---------------------------------------
@agate-spotlight-color:                @agate-foreground-focus;
@agate-spotlight-bg-color:             @agate-background-focus;
@agate-spotlight-disabled-text-color:  fade(@agate-spotlight-color, 40%);

// Button
// ---------------------------------------
@agate-button-color:          @agate-foreground;
@agate-button-lightOpaque-color: @agate-seal-brown;
@agate-button-lightOpaque-bg-color: @agate-light-gray;

// Dropdown
// ---------------------------------------
@agate-dropdown-list-bg-color: @agate-bg-color;

// Input
// ---------------------------------------
@agate-input-decorator-border-color:          fade(@agate-foreground, 30%);

// Item
// ---------------------------------------
@agate-item-focus-color:        @agate-spotlight-color;

// LabeledIconButton
// ---------------------------------------
@agate-labelediconbutton-label-color: @agate-white;

// Panels
// ---------------------------------------
@agate-panels-bg-color:               @agate-background;
@agate-panels-partial-bg-color:       @agate-background;
@agate-panels-breadcrumb-bg-color:    @agate-bg-color;

// Popup
// ---------------------------------------
@agate-popup-plain-body-color: @agate-white;
@agate-popup-bg-color: @agate-bg-color;
@agate-popup-border-color: @agate-seal-brown;
@agate-popup-body-bg-color: @agate-bg-color;

// RadioItem
// ---------------------------------------
@agate-radioitem-focus-color: @agate-item-color;
@agate-radioitem-icon-border-color: @agate-highlight;
@agate-radioitem-icon-bg-color: transparent;
@agate-radioitem-icon-focus-bg-color: @agate-radioitem-icon-bg-color;
@agate-radioitem-icon-focus-color: @agate-highlight;
@agate-radioitem-icon-selected-bg-color: @agate-radioitem-icon-bg-color;
@agate-radioitem-icon-selected-color: @agate-accent;

// Slider
// ---------------------------------------
@agate-slider-track-bg-color: @agate-darker-gray;
@agate-slider-fill-bg-color:  @agate-white;
