// Skin colors definitions
//


// Named Colors
@agate-black: #000;
@agate-white: #fff;
@agate-foreground: fade(@agate-white, 75%);


// Component color assignments
@agate-bg-color: @agate-black;
@agate-text-color: @agate-foreground;
@agate-title-text-color: @agate-white;

// Icon
// ---------------------------------------
@agate-icon-color:                     @agate-text-color;

