// Skin colors definitions
//


// Named Colors
@agate-background: #1f1f1f;
@agate-foreground: @agate-white;
@agate-foreground-active: @agate-foreground;
@agate-foreground-focus: @agate-foreground;

// Component color assignments
@agate-bg-color: var(--agate-bg-color, #000000);
@agate-component-bg-color: var(--agate-component-bg-color, #5e5e5e);
@agate-component-text-color: var(--agate-component-text-color, #ffffff);
@agate-text-color: var(--agate-text-color, #ffffff);
@agate-title-text-color: var(--agate-title-text-color, #ffffff);

// Spotlight and State
// ---------------------------------------
@agate-spotlight-color:                @agate-foreground-focus;
@agate-spotlight-bg-color:             @agate-background-focus;

// Button
// ---------------------------------------
@agate-button-color:          @agate-component-text-color;
@agate-button-lightOpaque-color: @gallium-seal-brown-gray;
@agate-button-lightOpaque-bg-color: @agate-light-gray;

// Dropdown
// ---------------------------------------
@agate-dropdown-list-bg-color: @agate-bg-color;

// Heading
// ---------------------------------------
@agate-heading-border-color: fadeout(@agate-white, 30%);

// Input
// ---------------------------------------
@agate-input-decorator-border-color:          fade(@agate-white, 30%);
@agate-input-placeholder-color:               fade(@agate-white, 80%);

// Item
// ---------------------------------------
@agate-item-focus-color:        @agate-spotlight-color;

// Keypad
// ---------------------------------------
@agate-keypad-button-active-bg-color:       fade(@agate-white, 20%);

// LabeledIconButton
// ---------------------------------------
@agate-labelediconbutton-label-color: @agate-white;

// MediaPlayer
// ---------------------------------------
@agate-mediaslider-bar-color: fade(@agate-white, 50%);
@agate-mediaslider-focused-bar-color: fade(@agate-white, 50%);

// Panels
// ---------------------------------------
@agate-panels-bg-color:               @agate-background;
@agate-panels-partial-bg-color:       @agate-background;
@agate-panels-breadcrumb-bg-color:    @agate-bg-color;

// Picker
// ---------------------------------------
@agate-picker-item-color: fade(@agate-white, 50%);

// Popup
// ---------------------------------------
@agate-popup-plain-body-color: @agate-white;
@agate-popup-bg-color: @agate-bg-color;
@agate-popup-border-color: @gallium-seal-brown-gray;
@agate-popup-body-bg-color: @agate-bg-color;

// RadioItem
// ---------------------------------------
@agate-radioitem-focus-color: @agate-item-color;
@agate-radioitem-icon-border-color: @agate-highlight;
@agate-radioitem-icon-bg-color: transparent;
@agate-radioitem-icon-focus-bg-color: @agate-radioitem-icon-bg-color;
@agate-radioitem-icon-selected-bg-color: @agate-radioitem-icon-bg-color;
@agate-radioitem-icon-selected-color: @agate-accent;

// Slider
// ---------------------------------------
@agate-slider-track-bg-color: @agate-darker-gray;
@agate-slider-fill-bg-color:  @agate-white;
