// ----- SYSTEM FONT NAMES ------
@font-system-src-primary-light:  local("LG Display-Light");


/* ----- LG Display ------ */

// Normal
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: 700;
	font-style: normal;
}

// Bold
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: 700;
	font-style: normal;
}

// Light
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: 300;
	font-style: normal;
}
