// ----- SYSTEM FONT NAMES ------
@font-system-src-moonstone-icons:  local("Moonstone-Agate"), url("../fonts/Moonstone-Agate.ttf") format("truetype");
// @import (css) url(https://fonts.googleapis.com/css?family=Orbitron);
@import (css) url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

@font-system-src-primary-light:  local("LG Display-Light");

/* ----- LG Display ------ */

// Normal
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: 700;
	font-style: normal;
}

// Bold
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: 700;
	font-style: normal;
}

// Light
@font-face {
	font-family: "Agate Primary";
	src: @font-system-src-primary-light;
	font-weight: 300;
	font-style: normal;
}

/* ----- Moonstone (Icons) ------ */

@font-face {
	font-family: "Moonstone Icons";
	src: @font-system-src-moonstone-icons;
	font-weight: normal;
	font-style: normal;
}
