//
// Agate EZ Theme Style Mixins for
// defining a collection of styles once, and reusing them in multiple places.
//

@import "../styles/variables.less";

.moon-ez-item-sizing() {
	font-size: @moon-ez-item-font-size;
	font-weight: @moon-ez-item-font-weight;
	line-height: @moon-ez-item-height;
	padding-left: @moon-ez-item-side-outset;
	padding-right: @moon-ez-item-side-outset;
}
