//
// Agate Theme Style Mixins for
// defining a collection of styles once, and reusing them in multiple places.
//

@import "~@enact/spotlight/styles/mixins.less";
@import "~@enact/ui/styles/mixins.less";
@import "../styles/variables.less";

.position (@trbl) when (length(@trbl) = 4) {
	top: extract(@trbl, 1);
	right: extract(@trbl, 2);
	bottom: extract(@trbl, 3);
	left: extract(@trbl, 4);
}

.agate-item-sizing() {
	font-size: @agate-item-font-size;
	font-weight: @agate-item-font-weight;
	line-height: @agate-item-height;
	padding-left: @agate-item-side-outset;
	padding-right: @agate-item-side-outset;
}


.agate-button-active() {
	.spottable({
		&:active {
			.bg {
				background-color: @agate-button-active-bg-color;
				background-image: @agate-button-active-bg-image;
				border: @agate-button-border-width solid @agate-button-border-color;;
			}

			&,
			.client {
				color: @agate-button-active-color;
			}

			&.highlighted {
				.bg {
					opacity: 1;
				}
			}
		}
	});
}
