//
// #### Agate Base Skin Defaults ####
//
// A skin which establishes common, shared default values for all skins.
//
// ### CAUTION: ###
// It is extremely important to be careful, thorough, and considerate when altering any value in
// this file. It is very easy to make an innocuous change here which has deep consequences for the
// other skins.
//
//
// ## Overview
//
// This file establishes default values for all Agate skins. Any skin is allowed to override any of
// these values to customize itself. Additionally, skins may choose to only override a few of these
// variables for its own convenience.
//
//
// ## Maintenance
//
// When adding a new property to a component, a default must be established here in this file.
// Overrides of this value may then be added to any/all of the other skins, but that's completely
// optional.
//
// New variables in this file should use the true CSS default value for the given property, with one
// exception: sizing properties, like `height` and `width`. Is these cases, the values should be a
// generalized "agate default" rather than a specific skin's value. The measurement added here
// doesn't necessarily need to match the first definition of the variable in a skin. Most values in
// this file will be set to `inherit`, and that's fine because that's the default property value for
// most CSS properties.
//

@import "./internal/utils.less";


//
// Variables
//

// App
// ---------------------------------------
@agate-app-keepout: 18px;
@agate-translate-center: translate3d(-50%, -50%, 0);
@agate-border-radius: 999px;

// Common
// ---------------------------------------
@agate-base-font-family: "MuseoSans", sans-serif;
@agate-base-font-size: 24px;
@agate-base-font-weight: normal;
@agate-base-line-height: @agate-base-font-size;
@agate-base-font-ligatures: normal;
@agate-icon-font-family: "Agate Icons";
@agate-component-spacing: 12px;

// Button
// ---------------------------------------
@agate-button-active-bg-image: inherit;
@agate-button-active-opacity: inherit;
@agate-button-border-width: 3px;
@agate-button-border-radius: inherit;
@agate-button-background-origin: inherit;
@agate-button-font-weight: @agate-base-font-weight;
@agate-button-letter-spacing: normal;
@agate-button-text-indent: inherit;
@agate-button-font-ligatures: @agate-base-font-ligatures;
@agate-button-highlighted-opacity: 1;
@agate-button-skew: 0;
@agate-button-grid-border-radius: 0;
@agate-button-bg-transform: none;
@agate-button-icon-border-radius: @agate-border-radius;
@agate-button-height: 84px;
@agate-button-font-size: 36px;
@agate-button-line-height: inherit;
@agate-button-h-padding: 27px;
@agate-button-animation-duration: 500ms;
@agate-button-client-animation-offset: 0;
@agate-button-badge-animation-offset: 0;
@agate-button-badge-position: 0 0 auto auto;
@agate-button-badge-font-size: 20px;
@agate-button-badge-border-radius: @agate-border-radius;
@agate-button-badge-padding: 0 15px;
@agate-button-badge-line-height: 36px;
@agate-button-badge-letter-spacing: @agate-button-letter-spacing;
@agate-button-badge-text-indent: inherit;
@agate-button-badge-transform: none;
@agate-button-huge-height: 250px;
@agate-button-huge-font-size: 45px;
@agate-button-huge-line-height: (@agate-button-huge-height - (2 * @agate-button-border-width));
@agate-button-huge-h-padding: 36px;
@agate-button-huge-border-width: 10px;
@agate-button-small-border-radius: inherit;
@agate-button-small-height: 60px;
@agate-button-small-font-size: 30px;
@agate-button-small-line-height: (@agate-button-small-height - (2 * @agate-button-border-width));
@agate-button-small-h-padding: 18px;
@agate-button-small-badge-position: @agate-button-badge-position;
@agate-button-small-badge-font-size: 18px;
@agate-button-small-badge-border-radius: @agate-button-badge-border-radius;
@agate-button-small-badge-padding: 0 9px;
@agate-button-small-badge-line-height: 21px;
@agate-button-small-badge-letter-spacing: @agate-button-badge-letter-spacing;
@agate-button-small-badge-text-indent: @agate-button-badge-text-indent;
@agate-button-small-badge-transform: @agate-button-badge-transform;
@agate-button-smallest-height: 48px;
@agate-button-smallest-font-size: 15px;
@agate-button-smallest-line-height: (@agate-button-smallest-height - (2 * @agate-button-border-width));
@agate-button-smallest-h-padding: 15px;
@agate-button-smallest-badge-position: @agate-button-small-badge-position;
@agate-button-smallest-badge-font-size: 15px;
@agate-button-smallest-badge-border-radius: @agate-button-small-badge-border-radius;
@agate-button-smallest-badge-padding: @agate-button-small-badge-padding;
@agate-button-smallest-badge-line-height: 18px;
@agate-button-smallest-badge-letter-spacing: @agate-button-small-badge-letter-spacing;
@agate-button-smallest-badge-text-indent: @agate-button-small-badge-text-indent;
@agate-button-smallest-badge-transform: @agate-button-badge-transform;

// Body
// ----------------------------------
@agate-body-small-font-size: 27px;
@agate-body-font-size: 30px;
@agate-body-font-weight: 300;
@agate-body-line-height: inherit;

// Checkbox
// ---------------------------------------
@agate-checkbox-size: 46px;
@agate-checkbox-border-width: inherit;
@agate-checkbox-border-radius: inherit;
@agate-checkbox-icon-font-size: inherit;

// CheckboxItem
// ---------------------------------------
@agate-checkboxitem-padding-left: @agate-item-side-outset;
@agate-checkboxitem-padding-right: @agate-item-side-outset;
@agate-checkboxitem-icon-margin: @agate-component-spacing;
@agate-checkboxitem-font-size: inherit;

// ColorPicker
// ---------------------------------------
@agate-colorpicker-border-radius: @agate-border-radius;
@agate-colorpicker-bg-transform: none;
@agate-colorpicker-swatch-border-radius: @agate-colorpicker-border-radius;
@agate-colorpicker-swatch-margin: (@agate-colorpicker-palette-swatch-margin / 2);
@agate-colorpicker-palette-border-radius: (@agate-button-height / 2);
@agate-colorpicker-palette-swatch-margin: 12px;
@agate-colorpicker-palette-margin: 0;
@agate-colorpicker-palette-sliders-padding: @agate-colorpicker-palette-swatch-margin @agate-colorpicker-palette-swatch-margin (@agate-colorpicker-palette-swatch-margin * 2) @agate-colorpicker-palette-swatch-margin;

// ContextualPopup
// ---------------------------------------
@agate-contextual-popup-arrow-height: 30px;
@agate-contextual-popup-arrow-width: 30px;
@agate-contextual-popup-offset-overlap: 18px;
@agate-contextual-popup-offset-small: 9px;
@agate-contextual-popup-border-radius: inherit;
@agate-contextual-popup-font-size: inherit;
@agate-contextual-popup-padding-vertical: inherit;
@agate-contextual-popup-padding-horizontal: inherit;
@agate-contextual-popup-padding: @agate-contextual-popup-padding-vertical @agate-contextual-popup-padding-horizontal;

// DateTimePicker
// ---------------------------------------
@agate-datetimepicker-width: 699px;

// Dropdown
// ---------------------------------------
@agate-dropdown-border-style: solid;
@agate-dropdown-border-width: 1px;
@agate-dropdown-button-bg-image: inherit;
@agate-dropdown-button-font-size: inherit;
@agate-dropdown-button-icon-font-size: inherit;
@agate-dropdown-button-icon-height: inherit;
@agate-dropdown-button-list-border-radius: inherit;
@agate-dropdown-button-open-border-radius: inherit;
@agate-dropdown-up-button-list-border-radius: inherit;
@agate-dropdown-up-button-open-border-radius: inherit;
@agate-dropdown-button-width: inherit;
@agate-dropdown-item-font-size: inherit;
@agate-dropdown-item-font-weight: inherit;
@agate-dropdown-item-padding: inherit;
@agate-dropdown-list-height:  @agate-item-height * 4;
@agate-dropdown-transitionContainer-width: inherit;

// Drawer
// ---------------------------------------
@agate-drawer-border-radius: @agate-popup-border-radius;
@agate-drawer-border-width: inherit;
@agate-drawer-border: @agate-popup-border;
@agate-drawer-padding: @agate-popup-padding;

// GridListImageItem
// ---------------------------------------
@agate-gridlistimageitem-caption-weight: @agate-base-font-weight;
@agate-gridlistimageitem-caption-height: 48px;
@agate-gridlistimageitem-subcaption-height: 48px;

// Header
// ---------------------------------------
@agate-header-border-bottom-width: 3px;
@agate-header-border-bottom-style: solid;
@agate-header-font-style: normal;
@agate-header-height: 130px;
@agate-header-letter-spacing: 0;
@agate-header-line-height: 1em;
@agate-header-title-padding-right: inherit;
@agate-header-title-margin: 0;
@agate-header-title-font-size: inherit;
@agate-header-title-text-indent: inherit;
@agate-header-subtitle-font-size: 24px;
@agate-header-subtitle-padding: 0;
@agate-header-titleabove-padding: 0;
@agate-header-subtitle-font-weight: @agate-base-font-weight;

// Heading
// ---------------------------------------
@agate-heading-border-width: 1px;
@agate-heading-margin: 0 @agate-spotlight-outset (1.5 * @agate-spotlight-outset) @agate-spotlight-outset;
@agate-heading-padding: 0;
@agate-heading-spacing-title: 0;
@agate-heading-spacing-medium: @agate-component-spacing;
@agate-heading-spacing-small: inherit;
@agate-heading-spacing-large: inherit;
@agate-heading-text-transform: none;
@agate-heading-showline-padding: 12px;
@agate-heading-letter-spacing: normal;
@agate-heading-line-height: 1.6em;
@agate-heading-font-ligatures: @agate-base-font-ligatures;
@agate-heading-title-padding: @agate-heading-padding 50px;
@agate-heading-title-font-family: @agate-base-font-family;
@agate-heading-title-font-size: 70px;
@agate-heading-title-font-style: normal;
@agate-heading-title-font-weight: bold;
@agate-heading-large-font-family: @agate-base-font-family;
@agate-heading-large-font-size: 48px;
@agate-heading-large-font-style: normal;
@agate-heading-large-font-weight: bold;
@agate-heading-medium-font-family: @agate-base-font-family;
@agate-heading-medium-font-size: 32px;
@agate-heading-medium-font-style: normal;
@agate-heading-medium-font-weight: bold;
@agate-heading-small-font-family: @agate-base-font-family;
@agate-heading-small-font-size: 24px;
@agate-heading-small-font-style: normal;
@agate-heading-small-font-weight: bold;
@agate-heading-title-decoration-height: inherit;
@agate-heading-title-decoration-width: inherit;
@agate-heading-title-decoration-positions: inherit;
@agate-heading-title-decoration-border-radius: inherit;
@agate-heading-title-decoration-opacity: inherit;
@agate-heading-title-decoration-transform: inherit;

// Icon Sizes
// ---------------------------------------
@agate-icon-size: 48px;
@agate-icon-font-size: (@agate-icon-size * 2);
@agate-icon-sprite-size: @agate-icon-size;
@agate-icon-margin: @agate-component-spacing;
@agate-icon-letter-spacing: inherit;
@agate-icon-text-indent: initial;
@agate-icon-huge-size: 190px;
@agate-icon-huge-font-size: 320px;
@agate-icon-sprite-huge-size: @agate-icon-huge-size;
@agate-icon-small-size: 36px;
@agate-icon-small-font-size: (@agate-icon-small-size * 2);
@agate-icon-sprite-small-size: @agate-icon-small-size;
@agate-icon-smallest-size: 21px;
@agate-icon-smallest-font-size: (@agate-icon-smallest-size * 2);
@agate-icon-sprite-smallest-size: @agate-icon-smallest-size;

// Indicator
// ---------------------------------------
@agate-indicator-align-self:    inherit;
@agate-indicator-border-radius: inherit;
@agate-indicator-display:       inherit;
@agate-indicator-height:        inherit;
@agate-indicator-margin-right:  inherit;

// Input
// ---------------------------------------
@agate-input-font-size: 30px;
@agate-input-font-weight: @agate-base-font-weight;
@agate-input-small-font-size: 24px;
@agate-input-border-width: 1px;
@agate-input-decorator-border-width: 1px;
@agate-input-decorator-focus-border-width: 4px;
@agate-input-decorator-height: inherit;
@agate-input-focused-opacity: inherit;
@agate-input-margin: @agate-input-decorator-focus-border-width (@agate-spotlight-outset / 2);
@agate-input-opacity: inherit;
@agate-input-padding: 21px 32px;
@agate-input-padding-top-bottom: 21px;
@agate-input-padding-left: 32px;
@agate-input-padding-right: 32px;
@agate-input-icon-display: inherit;
@agate-input-icon-align: inherit;
@agate-input-icon-after-padding-top-bottom: inherit;
@agate-input-icon-after-padding-right: inherit;
@agate-input-icon-after-padding-left: inherit;
@agate-input-icon-before-padding-top-bottom: inherit;
@agate-input-icon-before-padding-right: inherit;
@agate-input-icon-before-padding-left: inherit;
@agate-input-icon-before-margin: 0 0 0 (@agate-spotlight-outset / 2);
@agate-input-icon-after-margin: 0 (@agate-spotlight-outset / 2) 0 0;
@agate-input-height: (@agate-icon-size - ((@agate-input-border-width * 2) + (extract(@agate-input-padding, 2) * 2)));
@agate-input-small-height: (@agate-button-small-height - (@agate-input-border-width * 2));
@agate-input-text-align: inherit;

// ImageItem
// ---------------------------------------
@agate-imageitem-caption-height: 48px;
@agate-imageitem-border-width: inherit;
@agate-imageitem-caption-overlay-height: inherit;
@agate-imageitem-caption-overlay-width: inherit;
@agate-imageitem-caption-overlay-padding: inherit;
@agate-imageitem-caption-overlay-font-size: inherit;
@agate-imageitem-caption-overlay-line-height: inherit;
@agate-imageitem-caption-overlay-text-align: inherit;
@agate-imageitem-caption-position-bottom: 6px;

// Item
// ---------------------------------------
@agate-item-border-width:             inherit;
@agate-item-content-min-width:        60%;
@agate-item-font-size:                30px;
@agate-item-font-weight:              @agate-base-font-weight;
@agate-item-height:                   60px;
@agate-item-height-large:             72px;
@agate-item-indent:                   36px;
@agate-item-inline-content-max-width: 240px;
@agate-item-label-font-size:          @agate-base-font-size;
@agate-item-label-max-width:          40%;
@agate-item-label-padding:            10px;
@agate-item-line-height:              @agate-item-height - (@agate-item-vertical-padding * 2);
@agate-item-line-height-large:        @agate-item-height-large - (@agate-item-vertical-padding * 2);
@agate-item-side-outset:              @agate-component-spacing;
@agate-item-sub-text-size:            inherit;
@agate-item-vertical-padding:         3px;

// LabeledIconButton
// ---------------------------------------
@agate-labelediconbutton-label-font-size: 38px;
@agate-labelediconbutton-label-font-weight: 500;
@agate-labelediconbutton-label-margin: 20px;

// Panels
// ---------------------------------------
@agate-panel-v-padding: @agate-app-keepout;
@agate-panel-h-padding: inherit;
@agate-panels-partial-height: auto;
@agate-panels-partial-width: 50%;
@agate-panels-breadcrumb-height: 100%;
@agate-panels-breadcrumb-width: 100px;
@agate-panels-controls-top: inherit;
@agate-panels-controls-padding-start: inherit;
@agate-panels-panel-padding: inherit;
@agate-panels-panel-header-padding: @agate-panels-panel-padding;
@agate-panels-panel-body-padding: @agate-panels-panel-padding;
@agate-panels-tab-bar-margin: 0;
@agate-panels-tab-bg-position: 0;
@agate-panels-tab-bg-transform: none;
@agate-panels-tab-border-radius: 0;
@agate-panels-tab-group-border-radius: 0;
@agate-panels-tab-group-horizontal-transform: none;
@agate-panels-tab-group-margin: 0;
@agate-panels-tab-group-padding: 0;
@agate-panels-tab-group-position-after-margin: 0;
@agate-panels-tab-group-transform: none;
@agate-panels-tab-margin: inherit;
@agate-panels-tab-padding: inherit;
@agate-panels-tab-separator-border-width: 0;
@agate-panels-vertical-tab-after-padding-right: 0;
@agate-panels-vertical-tab-before-right: 0;
@agate-panels-vertical-tab-bg-position: 0;
@agate-panels-vertical-tab-group-margin: 0;
@agate-panels-vertical-tab-group-padding: 0;
@agate-panels-vertical-tab-margin: 0;
@agate-panels-vertical-tab-width: inherit;

// Picker
// ---------------------------------------
@agate-picker-border-radius: 0;
@agate-picker-horizontal-item-width: 120px;
@agate-picker-transform: none;
@agate-picker-label-transform: none;
@agate-picker-font-weight: @agate-base-font-weight;
@agate-picker-font-size: 24px;
@agate-picker-active-font-size: 36px;
@agate-picker-active-font-weight: @agate-base-font-weight;
@agate-picker-margin: @agate-component-spacing;

// Popup
// ---------------------------------------
@agate-popup-min-width: 510px;
@agate-popup-max-width: 70%;
@agate-popup-border-width: 1px;
@agate-popup-border-radius: 3px;
@agate-popup-border: 0 solid transparent;
@agate-popup-padding: (@agate-component-spacing * 2);
@agate-popup-closebutton-title-padding: 0 0 0 (@agate-button-small-height);
@agate-popup-title-padding: @agate-heading-padding;
@agate-popup-body-border: @agate-popup-border;
@agate-popup-body-padding: (@agate-component-spacing * 1.5);
@agate-popup-body-margin: 0;
@agate-popup-body-border-width: 1px;
@agate-popup-body-border-radius: 6px;
@agate-popup-buttons-border-radius: inherit;
@agate-popup-buttons-padding: @agate-component-spacing 0 0 0;
@agate-popup-content-padding: initial;
@agate-popup-closebutton-position-left: 0;
@agate-popup-closebutton-position-right: auto;
@agate-popup-body-font-weight: @agate-base-font-weight;
@agate-popup-top-border-radius: @agate-popup-border-radius;
@agate-popup-top-max-width: inherit;

// PopupMenu
// ---------------------------------------
@agate-popupmenu-title-margin: inherit;

// ProgressBar
// ---------------------------------------
@agate-progressbar-height: @agate-slider-track-height;
@agate-progressbar-vertical-width: @agate-progressbar-height;
@agate-progressbar-small-height: (@agate-progressbar-height / 2);
@agate-progressbar-vertical-small-width: @agate-progressbar-small-height;
@agate-progressbar-border-radius: @agate-slider-border-radius;
@agate-progressbar-track-transform: @agate-slider-track-transform;
@agate-progressbar-vertical-track-transform: none;

// Slider
// ---------------------------------------
@agate-slider-horizontal-anchorpoint-height: 0px;  // This is used in `calc` which means it needs the unit specified to work correctly
@agate-slider-horizontal-anchorpoint-width: 0px;  // This is used in `calc` which means it needs the unit specified to work correctly
@agate-slider-vertical-anchorpoint-height: 0px;  // This is used in `calc` which means it needs the unit specified to work correctly
@agate-slider-vertical-anchorpoint-width: 0px;  // This is used in `calc` which means it needs the unit specified to work correctly
@agate-slider-knob-height: @agate-slider-height;
@agate-slider-active-knob-height: @agate-slider-knob-height;
@agate-slider-active-knob-width: @agate-slider-active-knob-height;
@agate-slider-active-knob-border-radius: @agate-slider-knob-border-radius;
@agate-slider-active-knob-transform: @agate-slider-knob-transform;
@agate-slider-knob-border-radius: @agate-slider-knob-height;
@agate-slider-knob-border-width: 0;
@agate-slider-knob-resting-state-scale: 1;
@agate-slider-knob-transform: @agate-translate-center;
@agate-slider-knob-height: @agate-slider-height;
@agate-slider-knob-width: @agate-slider-knob-height;
@agate-slider-border-radius: @agate-slider-height;
@agate-slider-horizontal-margin: 0 @agate-component-spacing;
@agate-slider-horizontal-padding: ((@agate-slider-height - @agate-slider-track-height) / 2) (@agate-slider-height / 2);
@agate-slider-vertical-margin: 0 @agate-component-spacing;
@agate-slider-vertical-padding: (@agate-slider-height / 2) ((@agate-slider-height - @agate-slider-track-height) / 2);
@agate-slider-height: @agate-button-height;
@agate-slider-width: @agate-slider-height;
@agate-slider-track-height: 12px;
@agate-slider-track-width: @agate-slider-track-height;
@agate-slider-bg-transform: none;
@agate-slider-track-transform: none;

// IncrementSlider
// ---------------------------------------
@agate-incrementslider-border-radius: 0;
@agate-incrementslider-horizontal-margin: @agate-slider-horizontal-margin;
@agate-incrementslider-horizontal-slider-margin: 0;
@agate-incrementslider-horizontal-slider-padding: ((@agate-slider-height - @agate-slider-track-height) / 2) (((@agate-slider-knob-width / 2) * @agate-slider-knob-resting-state-scale) + 3px);
@agate-incrementslider-horizontal-button-margin: 0;
@agate-incrementslider-horizontal-button-decrement-border-radius: @agate-slider-height 0 0 @agate-slider-height;
@agate-incrementslider-horizontal-button-decrement-border-width: 0;
@agate-incrementslider-horizontal-button-increment-border-radius: 0 @agate-slider-height @agate-slider-height 0;
@agate-incrementslider-horizontal-button-increment-border-width: 0;
@agate-incrementslider-horizontal-small-slider-padding: ((@agate-button-small-height - @agate-slider-track-height) / 2) (((@agate-slider-knob-width / 2) * @agate-slider-knob-resting-state-scale) + 3px);
@agate-incrementslider-vertical-margin: @agate-slider-vertical-margin;
@agate-incrementslider-vertical-slider-margin: 0;
@agate-incrementslider-vertical-slider-padding: 0;
@agate-incrementslider-vertical-button-margin: 0;
@agate-incrementslider-vertical-button-decrement-border-radius: 0;
@agate-incrementslider-vertical-button-decrement-border-width: 0;
@agate-incrementslider-vertical-button-increment-border-radius: 0;
@agate-incrementslider-vertical-button-increment-border-width: 0;
@agate-incrementslider-vertical-small-slider-padding: (((@agate-slider-knob-width / 2) * @agate-slider-knob-resting-state-scale) + 3px) ((@agate-button-small-height - @agate-slider-track-height) / 2);

// RadioItem
// ---------------------------------------
@agate-radioitem-icon-border-width: @agate-button-border-width;
@agate-radioitem-icon-border-radius: @agate-border-radius;
@agate-radioitem-icon-opacity: inherit;
@agate-radioitem-icon-selected-opacity: inherit;

// Scrollbar
// ---------------------------------------
@agate-scroller-scrollbar-thumb-width: inherit;

// SliderButton
// ---------------------------------------
@agate-sliderbutton-border-radius: @agate-border-radius;
@agate-sliderbutton-border-width: 0;
@agate-sliderbutton-bg-transform: @agate-slider-bg-transform;
@agate-sliderbutton-bg-clip: initial;
@agate-sliderbutton-client-transform: @agate-slider-track-transform;
@agate-sliderbutton-knob-border-radius: @agate-sliderbutton-border-radius;
@agate-sliderbutton-knob-border-width: 0;
@agate-sliderbutton-knob-transform: none;
@agate-sliderbutton-margin: 3px 24px;

// Spinner
// ---------------------------------------
@agate-spinner-size: 52px;
@agate-spinner-bg-margin: inherit;
@agate-spinner-bg-padding: 9px;
@agate-spinner-huge-size: 132px;
@agate-spinner-huge-bg-margin: inherit;
@agate-spinner-huge-bg-padding: 21px;
@agate-spinner-small-size: 36px;
@agate-spinner-small-bg-margin: inherit;
@agate-spinner-small-bg-padding: 5px;
@agate-spinner-smallest-size: @agate-icon-smallest-size;
@agate-spinner-smallest-bg-margin: inherit;
@agate-spinner-smallest-bg-padding: 3px;
@agate-spinner-searching-width: 3px;
@agate-spinner-searching-height: 12px;
@agate-spinner-searching-border-radius: 50px;
@agate-spinner-huge-searching-width: 9px;
@agate-spinner-huge-searching-height: 27px;
@agate-spinner-small-searching-width: @agate-spinner-searching-width;
@agate-spinner-small-searching-height: 9px;
@agate-spinner-smallest-searching-width: 2px;
@agate-spinner-smallest-searching-height: 5px;
@agate-spinner-loading-height: 6px;
@agate-spinner-loading-width: @agate-spinner-loading-height;
@agate-spinner-loading-border-radius: @agate-border-radius;
@agate-spinner-huge-loading-height: inherit;
@agate-spinner-huge-loading-width: @agate-spinner-huge-loading-height;
@agate-spinner-small-loading-height: 5px;
@agate-spinner-small-loading-width: @agate-spinner-small-loading-height;
@agate-spinner-searching-animation-duration: 1.2s;
@agate-spinner-loading-animation-duration: 0.8s;

// Spotlight
// ---------------------------------------
@agate-spotlight-outset: 12px;

// Switch
// ---------------------------------------
@agate-switch-height: 48px;
@agate-switch-width: 96px;
@agate-switch-border-radius: (@agate-switch-height / 2);
@agate-switch-icon-scale: 2;
@agate-switch-icon-font-family: @agate-icon-font-family;
@agate-switch-icon-font-size: (@agate-switch-height * @agate-switch-icon-scale);
@agate-switch-icon-position-left: 0;
@agate-switch-selected-icon-position-left: (@agate-switch-width - @agate-switch-height);

// ThumbnailItem
// ---------------------------------------
@agate-thumbnailitem-line-height: inherit;
@agate-thumbnailitem-height: inherit;
@agate-thumbnailitem-content-font-size: inherit;
@agate-thumbnailitem-label-font-size: inherit;
@agate-thumbnailitem-thumbnail-height: inherit;
@agate-thumbnailitem-thumbnail-width: inherit;
@agate-thumbnailitem-round-border-radius: inherit;
@agate-roundthumbnailitem-border-width: inherit;

// ToggleButton
// ---------------------------------------
@agate-togglebutton-min-width: @agate-button-height;
@agate-togglebutton-client-padding-left: @agate-button-border-width;
@agate-togglebutton-padding: inherit;
@agate-togglebutton-huge-min-width: @agate-button-huge-height;
@agate-togglebutton-small-min-width: @agate-button-small-height;
@agate-togglebutton-smallest-min-width: @agate-button-smallest-height;
@agate-togglebutton-indicator-position: 0;
@agate-togglebutton-indicator-border-width: 0;
@agate-togglebutton-indicator-border-radius: @agate-button-border-radius;
@agate-togglebutton-indicator-height: 6px;
@agate-togglebutton-indicator-transform: none;
@agate-togglebutton-indicator-width: auto;

// Tooltip
// ---------------------------------------
@agate-tooltip-label-font-size: inherit;
@agate-tooltip-offset: 9px;
@agate-tooltip-point-width: 12px;
@agate-tooltip-point-height: 12px;
@agate-tooltip-border-width: 1px;
@agate-tooltip-border-radius: 3px;
@agate-tooltip-label-height: 45px;
@agate-tooltip-label-font-weight: @agate-button-font-weight;
@agate-tooltip-padding: 3px 18px;
