// Variables for any components
//

@agate-base-font-family: "Agate Primary";
@agate-base-font-size: 24px;
@agate-icon-font-family: "Moonstone Icons";

// Button
// ---------------------------------------
@agate-button-height: 84px;
@agate-button-height-large: 96px;
@agate-button-small-height: 60px;
@agate-button-small-height-large: 72px;
@agate-button-border-width: 6px;
@agate-button-border-radius: 9999px;
@agate-button-small-tap-area-height: 78px;
@agate-button-large-text-size: 30px;
@agate-button-small-text-size: 24px;
@agate-button-large-min-width: 180px;
@agate-button-small-min-width: 132px;
@agate-button-h-padding: 27px;
@agate-button-small-h-padding: 18px;
@agate-button-pressed-scale: 0.05;
//@agate-button-h-margin: @agate-spotlight-outset;

// Icon Sizes
// ---------------------------------------
@agate-icon-size: 48px;
@agate-icon-size-large: (@agate-icon-size * 1.2);
@agate-icon-small-size: 36px;
@agate-icon-small-size-large: (@agate-icon-small-size * 1.2);
@agate-icon-font-size: (@agate-icon-size * 2);
@agate-icon-font-size-large: (@agate-icon-font-size * 1.2);
@agate-icon-small-font-size: (@agate-icon-small-size * 2);
@agate-icon-small-font-size-large: (@agate-icon-small-font-size * 1.2);
@agate-icon-button-size: @agate-button-height;
@agate-icon-button-size-large: @agate-button-height-large;
@agate-icon-button-small-size: @agate-button-small-height;
@agate-icon-button-small-size-large: @agate-button-small-height-large;
@agate-icon-sprite-size: (@agate-icon-button-size - (@agate-button-border-width * 2));
@agate-icon-sprite-small-size: (@agate-icon-button-small-size - (@agate-button-border-width * 2));
@agate-icon-tap-area-offset: -(@agate-button-border-width + (@agate-button-small-tap-area-height - @agate-button-small-height) / 2);
@agate-icon-margin: 12px;
