// Variables for any components
//

// App
// ---------------------------------------

// @agate-base-font-family: "Agate Primary";
@agate-base-font-weight: 400;

// Button
// ---------------------------------------
@agate-button-border-radius: 9999px;

// ColorPicker
// ---------------------------------------
@agate-colorpicker-palette-margin: 6px;
@agate-colorpicker-palette-sliders-padding: 12px @agate-colorpicker-palette-swatch-margin (@agate-colorpicker-palette-swatch-margin * 2) @agate-colorpicker-palette-swatch-margin;

// Divider
// ---------------------------------------
@agate-divider-font-size: 27px;
@agate-divider-font-weight: 700;
@agate-divider-height: 45px;
@agate-divider-text-transform: none;
@agate-divider-icon-alignment: text-top;

// Drawer
// ---------------------------------------
@agate-drawer-border-radius: @agate-popup-border-radius;
@agate-drawer-border-width: @agate-popup-border-width;
@agate-drawer-border: @agate-popup-border;
@agate-drawer-padding: @agate-popup-padding;

// Panels
// ---------------------------------------
@agate-panels-panel-padding: 24px;
@agate-panels-tab-margin: 6px 0;
@agate-panels-tab-padding: 18px 96px 18px @agate-component-spacing;

// Switch
// ---------------------------------------
@agate-switch-icon-scale: 2.8;
