//
// Agate EZ Theme Style Variables for
// sizing, measurements, layout and moooooore!
//

// At the moment, we don't have many custom colors, and they're the same for each skin, so there's
// no need to elaborately incorporate the full skinning system... yet. Just import colors here.
@import './colors.less';

@moon-ez-common-spacing: 24px;

// Item
// ----------------
@moon-ez-item-font-size: 45px;    // Many components height are based on this one height. Simplifies layout with consistency.
@moon-ez-item-font-weight: 300;
@moon-ez-item-height: 126px;    // Many components height are based on this one height. Simplifies layout with consistency.
@moon-ez-item-side-outset: @moon-ez-common-spacing;
// ^^^ 72px height content with 30px padding

// LabeledItem
@moon-ez-labeleditem-label-font-weight: 700;

// Button
// ----------------
@moon-ez-button-font-size: 60px;
@moon-ez-button-height: 105px;
@moon-ez-button-small-height: 72px;

// Notification
// ----------------
@moon-ez-notification-border-width: 3px;
@moon-ez-notification-border-radius: 6px;
@moon-ez-notification-out-border-radius: (@moon-ez-notification-border-width + @moon-ez-notification-border-radius);
