// WindDirectionControl.module.less
//
@import '../styles/mixins.less';
@import '../styles/skin.less';
@import '../styles/variables.less';

.windDirectionControl {
	.windDirectionArc {
		position: absolute;
	}

	.airDirectionDisplay {
		align-items: center;
		display: flex;
		height: 120px;
		transform: translate(60%, 70%);
		width: 120px;

		.airDirectionIcon {
			.applySkins({
				font-size: @agate-winddirectioncontrol-icon-font-size;
				height: @agate-winddirectioncontrol-icon-height;
				line-height: @agate-winddirectioncontrol-icon-line-height;
				margin: @agate-winddirectioncontrol-icon-margin;
				width: @agate-winddirectioncontrol-icon-width;
			})
		}
	}
}
