// ArcPicker.module.less
//
@import '../styles/mixins.less';
@import '../styles/skin.less';
@import '../styles/variables.less';

.arcPicker {
	position: relative;

	.valueDisplay {
		align-items: center;
		display: flex;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.arc {
		position: absolute;
	}

	.applySkins({
		.valueDisplay {
			height: @agate-arcpicker-value-display-height;
			max-width: @agate-arcpicker-value-display-max-width;
			font-size: @agate-arcpicker-font-size;
			font-weight: @agate-arcpicker-font-weight;
		}

		.focus({
			// Remove default Spottable visual effect
			background-color: transparent;
			background-image: none;
			color: @agate-arcpicker-value-display-color;
		});
	});
}
