.container {
	max-width: 75%;
	margin: 0 auto;

	.header {
		display: flex;
		justify-content: flex-end;

		.heading {
			margin: 0 auto;
		}
	}

	.settings {
		display: flex;
		justify-content: space-between;
	}

	.demo {
		display: flex;
		margin-top: 30px;

		.colorPickers {
			display: flex;
			flex-direction: column;
			margin-right: 50px;
		}

		.components {
			.previewSwitchItem {
				max-width: 500px;
			}
		}
	}
}
