// ThemeEnvironment.module.less
//
@import "~@enact/agate/styles/mixins.less";
@import "~@enact/agate/styles/skin.less";

.skinFrame {
	padding: 1em;
	position: relative;

	.applySkins({
		// These background rules, and the &::before below are cloned from ThemeDecorator to mimic the style an app gets.
		background-color: @agate-bg-color;
		background-image: @agate-bg-image;

		&::before {
			content: "";
			display: block;
			background-image: @agate-bg-image2;
			position: absolute;
			.position(0);
		}
	});
}

// Fix for the +/- buttons
html {
	height: 100%;
	margin: 0;
}

// Fix for margin added around zoom-area
body {
	margin: 0;
}

// Here, we target the storybook rendering canvas div. It's inserted as a child of our Panel, but it
// applies position:relative, which doesn't help us when we have stories that should fill the entire
// panel body. This targets that inaccessible node using Panel's structure and storybook's structure
// to update that goofy rule to a rational one.
// The :not() bit targets only non-enact elements, so if a story doesn't use withInfo, and a `div`
// isn't added, the components aren't being told to be a different size/position.
.storyBody > div:not([class]):first-child {
	width: 100%;
	height: 100%;
	position: relative !important;
}
// additional selector when noPanels option is used
.themeEnvironment > div:first-child,
// additional selector when noPanel option is used
.themeEnvironment main > div {
	width: 100%;
	height: 100%;
	position: relative !important;
}
