// Popup.less
//
@import '../styles/skin.less';

.popup {
	.applySkins({
		background-color: fade(@agate-popup-bg-color, @agate-popup-bg-opacity);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-sizing: border-box;

		.body {
			height: 100%;
		}

		:global(.enact-locale-right-to-left) & {
			.closeButton {
				right: auto;
				left: @agate-spotlight-outset;
			}
		}
	});
}

.popupTransitionContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
