// Popup.module.less
//
@import "../styles/mixins.less";
@import "../styles/skin.less";

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;

	&.centered {
		text-align: center;

		.buttons {
			text-align: center;
		}
	}

	&.top {
		position: absolute;
		top: 0;
		left: 0;
		transform: none;
	}

	.closeButton {
		position: absolute;
		top: 0;
	}

	:global(.enact-locale-right-to-left) & {
		.closeButton {
			right: auto;
		}
	}

	.applySkins({
		color: @agate-popup-text-color;
		min-width: @agate-popup-min-width;
		box-shadow: @agate-popup-shadow;
		background-color: @agate-popup-bg-color;
		background-image: @agate-popup-bg-image;
		padding: @agate-popup-padding;
		border: @agate-popup-border;
		border-width: @agate-popup-border-width;
		border-color: @agate-popup-border-color;
		border-radius: @agate-popup-border-radius;
		opacity: @agate-popup-opacity;

		&.top {
			border-radius: @agate-popup-top-border-radius;
			margin: @agate-popup-top-margin;
			width: @agate-popup-top-width;
		}

		.title {
			color: @agate-popup-text-color;
			padding: @agate-popup-title-padding;
		}

		&:not(.withTitle) {
			.body {
				color: @agate-popup-plain-body-color;
				font-weight: @agate-popup-body-font-weight;
			}
		}

		&.withTitle {
			.body {
				padding: @agate-popup-body-padding;
				margin: @agate-popup-body-margin;
				border: @agate-popup-body-border;
				border-color: @agate-popup-body-border-color;
				background-color: @agate-popup-body-bg-color;
				background-image: @agate-popup-body-bg-image;
				border-radius: @agate-popup-body-border-radius;
			}
		}

		&.withCloseButton {
			.title {
				padding: @agate-popup-closebutton-title-padding;
			}
		}

		.buttons {
			padding: @agate-popup-buttons-padding;
			background-color: @agate-popup-buttons-bg-color;
			border-radius: @agate-popup-buttons-border-radius;
		}

		.content {
			padding: @agate-popup-content-padding;
		}

		.closeButton {
			.position-start-end(@agate-popup-closebutton-position-left, @agate-popup-closebutton-position-right);
			margin: @agate-component-spacing;
		}
	});
}

.popupTransitionContainer {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;

	.inner {
		height: 100%;

		> * {
			pointer-events: auto;
		}
	}
}
